<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/place_layout}">
<head>
	<!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet">
    <!-- FullCalendar JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Google API Client Library -->
    <script src="https://apis.google.com/js/api.js"></script>
    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <style>
    
    #calendar {
	  width: 100%; /* 부모 요소의 너비를 캘린더에 적용 */
	  height: 800px; /* 높이는 자동으로 설정 */
	}
	
    
    /* 이벤트 상자의 최소 높이 설정 */
    .fc-time-grid-event {
        min-height: 40px; /* 이벤트 상자의 최소 높이를 늘림 */
    }

    /* 이벤트 내부 텍스트의 패딩 조정 */
    .fc-time-grid-event .fc-content {
        padding: 5px; /* 이벤트 상자 내부의 여백을 추가 */
        white-space: normal; /* 텍스트가 길 경우 줄바꿈 허용 */
    }

    /* 이벤트 텍스트 크기 조정 */
    .fc-time-grid-event .fc-title,
    .fc-time-grid-event .fc-time {
        font-size: 12px; /* 이벤트 텍스트 크기를 조정 */
        color : black;
    }

    /* 이벤트가 겹치는 경우 내부 여백을 줄여 텍스트 표시 가능하게 함 */
    .fc-event {
        padding: 3px;
        color: black !important;
    }
    
    
    /* 주간/일간 뷰에서 이벤트 텍스트 크기 줄이기 */
    .fc-time-grid-event .fc-title, 
    .fc-time-grid-event .fc-time {
        font-size: 12px;  /* 이벤트 제목과 시간의 폰트 크기 조정 */
    }

    /* 이벤트 상자의 백그라운드 높이 줄이기 */
    .fc-time-grid-event {
        padding: 3px; /* 이벤트 상자 내부 여백 줄이기 */
    }

    /* 월간 뷰에서 이벤트 텍스트 크기 조정 */
    .fc-day-grid-event .fc-title {
        font-size: 12px; /* 이벤트 제목의 폰트 크기 */
    }

    /* 월간/주간/일간 뷰에서 백그라운드 높이 줄이기 */
    .fc-event {
        min-height: 20px; /* 이벤트 상자의 최소 높이 설정 */
    }

    /* 월간 뷰에서 이벤트 박스 높이 줄이기 */
    .fc-day-grid-event {
        padding: 3px;  /* 이벤트 상자 내부 여백 */
    }
    
    /* 일정 동그라미표시 */
    .fc-daygrid-event-dot {
	border-width: 7px;
	
}
    
    /* FullCalendar 일정 이벤트 텍스트 색상을 검정으로 설정 */
.fc-event, .fc-event-dot {
	color: black !important; /* 텍스트 색상을 검정으로 강제 설정 */
	text-decoration: none !important; /* 링크 밑줄 제거 */
}

.fc-dayGridMonth-view .fc-event-title-container {
	height: 20px !important; /* 원하는 높이로 조정 */
	line-height: 20px !important; /* 텍스트가 중앙에 오도록 설정 */
}

.fc-event-title {
	font-weight: normal !important; /* 제목 글씨를 일반 두께로 설정 */
}

.fc-dayGridMonth-view .fc-daygrid-event {
	margin-left: 1px !important;
	margin-right: 1px !important;
	margin-bottom: 0px !important;
}

.fc-daygrid-day-bottom {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

    
    
    	.fc-timegrid-allday {
	    display: none; /* All-day 행을 숨깁니다 */
			}
    
    	.fc-scrollgrid-sync-inner {
		    height: 100%; /* 전체 캘린더 높이 */
		}
    
    	/* 일요일과 토요일 스타일 */
	    .fc-day-sun .fc-daygrid-day-number,
	    .fc-day-sun .fc-col-header-cell-cushion {
	        color:  #FF0000 !important;/* 일요일 빨간색 */
	    }

	    .fc-day-sat .fc-daygrid-day-number,
	    .fc-day-sat .fc-col-header-cell-cushion {
	        color:  #0031AE !important; /* 토요일 남색 */
	    }
    
        /* 스타일 관련 내용은 그대로 유지 */
        .public-btn {
			width:72px;
			font-size:16px;
			height:45px;
		}

        .fc-prev-button,
		.fc-next-button,
		.fc-today-button{
		    color: white !important;
		    background-color: #5f76e8 !important;
		    border: 1px solid white !important;
		    padding: 10px 20px !important;
		    font-size: 16px !important;
		    line-height: 1.5 !important;
		    border-radius: 2px !important;
		    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
		}
		.fc-prev-button:hover,
		.fc-next-button:hover,
		.fc-today-button:hover,
		.fc-button-active:hover {
			background-color: #3e59e3 !important;
		}
    </style>
</head>

<th:block layout:fragment="content">

<body>
    <div class="page-wrapper">
        <div class="container-fluid" style="margin-bottom:-10px;">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" style="padding:50px 80px">
                            <!-- 타이틀, 등록버튼 -->
                            <div class="row" style="margin-left:0px !important; margin-right:0px !important; border-bottom: 1px solid gray; padding-bottom: 20px; display:flex; align-items: center;">
                                <div class="col d-flex justify-content-start align-items-center" style="padding:0px; max-width:140px;">
                                    <div style="font-size:30px;">캘린더</div>
                                </div>
                                <div class="col d-flex justify-content-end align-items-center" style="padding:0px;">
                                    <button type="button" class="btn btn-outline-secondary public-btn" id="register-button" sec:authorize="hasAnyAuthority('D3')">등록</button>
                                </div>
                            </div>

                            <!-- 월간/주간/일간 버튼을 추가할 곳 -->
                            <div class="row" style="margin-top: 20px; text-align: right;">
                                <div class="col">
                                    <div class="btn-group" role="group" aria-label="View Options">
                                        <button type="button" class="btn btn-outline-primary" id="month-view-button">월간</button>
                                        <button type="button" class="btn btn-outline-primary" id="week-view-button">주간</button>
                                        <button type="button" class="btn btn-outline-primary" id="day-view-button">일간</button>
                                    </div>
                                </div>
                            </div>

                            <!-- 캘린더 콘텐츠 -->
                            <div class="row mt-4" style="margin-left:0px !important; margin-right:0px !important;">
                                <div class="col" style="padding-right: 0;">
                                    <div id="calendar"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- 등록 모달 HTML -->
<div class="modal fade" id="scheduleCreateModal" tabindex="-1" role="dialog" aria-labelledby="scheduleCreateModalLabel">
    <div class="modal-dialog modal-dialog-centered custom-modal-size" style="max-width:54%; width: 54%; height:72%;">
        <div class="modal-content" style="height:72%;">
            <div class="modal-header modal-colored-header bg-primary" style="display: flex; align-items: center; justify-content: space-between; font-size: 25px;">
                <div class="modal-title" id="scheduleCreateModalLabel">
                    <i data-feather="calendar" class="svg-icon mr-2 ml-1"></i>
                    일정 등록
                </div>
                <button type="button" class="close" data-dismiss="modal" >
                    <i data-feather="x" class="svg-icon mr-2 ml-1"></i>
                </button>
            </div>
            <form id="scheduleCreateFrm" th:action="@{/place_schedule/save}" method="post">
                <div class="modal-body" style="padding:0px;">
                    <input type="hidden" id="csrf_token" th:value="${_csrf.token}">
                    
                   	
                    <table style="border-bottom:none; border-top:none;" class="table bordered">
                        <tbody id="scheduleCreateContent">
                            <div th:each="teacherHistory : ${thList}">
						        <input type="hidden" name="teacher_no" th:value="${teacherHistory.teacherNo}">
						        <input type="hidden" name="grade" th:value="${teacherHistory.grade}">
						        <input type="hidden" name="gradeClass" th:value="${teacherHistory.gradeClass}">
						    </div>
                        	
                        
                            <!-- 날짜 선택 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
                                    <span class="required-indicator"></span> <!-- 필수 입력 표시 -->
                                    <label>기간</label>
                                </td>
                                <td style="width: 80%;">
                                    <div class="form-inline">
                                        <input type="date" class="form-control" id="create_start_date" name="start_date" placeholder="시작일" style="max-width:170px; width:170px;">
                                        <input type="time" class="form-control" id="create_start_time" name="start_time" placeholder="시작시간" style="margin-left:5px !important; max-width:150px; width:150px;">
                                        <span class="ml-3 mr-3"> ~ </span>
                                        <input type="date" class="form-control" id="create_end_date" name="end_date" placeholder="종료일" style="max-width:170px; width:170px;">
                                        <input type="time" class="form-control" id="create_end_time" name="end_time" placeholder="종료시간" style="margin-left:5px !important; max-width:150px; width:150px;">
                                    </div>
                                </td>
                            </tr>

                            <!-- 제목 입력 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
                                    <span class="required-indicator"></span> <!-- 필수 입력 표시 -->
                                    <label>제목</label>
                                </td>
                                <td style="width: 80%;">
                                    <input type="text" class="form-control" name="place_schedule_title" id="create_schedule_title" placeholder="제목을 입력해주세요." style="width:100%;">
                                </td>
                            </tr>

                            <!-- 장소 선택 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
                                    <label for ="create_place_no">장소</label>
                                </td>
                                <td style="width: 80%;">
                                    <select class="form-control" id="create_place_no" name="place_no">
                                        <option value="" disabled selected>장소를 선택하세요</option>
                                        <th:block th:each="place : ${placeList}">
									    <option th:value="${place.placeNo}" th:text="${place.placeName}"></option>
									</th:block>
                                        
                                    </select>
                                </td>
                            </tr>

                            <!-- 기자재 선택 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
			                        <label>기자재</label>
			                    </td>

			                    <td style="width: 80%;">
			                        <div class="form-inline" id = "item-checkboxes">
			                        	 <!-- 전체 선택 체크박스 -->
								            <label class="mr-2">
								                <input type="checkbox" id="select-all"> 전체 선택
								            </label>
								
								            <!-- 전체 해제 체크박스 -->
								            <label class="mr-2">
								                <input type="checkbox" id="deselect-all"> 전체 해제
								            </label>
			                            <label class="mr-2" th:each="item : ${itemList}">
			                                 <input type="checkbox" class="item-checkbox" name="itemNoList" th:value="${item.itemNo}">
  												  <span th:text="${item.itemName}"></span>
			                            </label>
			                            
			                        </div>
			                    </td>
                            </tr>

                            <!-- 신청인 선택 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
                                    <label>신청인</label>
                                </td>
                                <td style="width: 80%;">
                                    <select class="form-control" id="create_emp_id" name="emp_id">
			                            <option value="" disabled selected>신청인을 선택하세요</option>
			                            <option th:each="employee : ${employeeList}" 
			                                    th:value="${employee.empId}" 
			                                    th:text="${employee.empName}">
			                            </option>
                       				 </select>
                                </td>
                            </tr>

                            <!-- 내용 입력 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
                                    <label>내용</label>
                                </td>
                                <td style="width: 80%;">
                                    <textarea class="form-control" rows="3" name="place_schedule_content" id="create_schedule_content" placeholder="내용을 입력해주세요." style ="resize : none;"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="margin-top:-16px;">
                    <button type="button" class="btn waves-effect waves-light btn-outline-secondary public-btn" data-dismiss="modal">취소</button>
                    <button type="submit" class="btn waves-effect waves-light btn-primary public-btn">등록</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

        <!-- 상세정보 모달 HTML -->
        <div class="modal fade" id="scheduleDetailModal" tabindex="-1" role="dialog" aria-labelledby="scheduleDetailModalLabel">
            <div class="modal-dialog modal-dialog-centered custom-modal-size" style="max-width:54%; width: 54%; height:72%;">
                <div class="modal-content" style="height:72%;" id="scheduleDetailContent"></div>
            </div>
        </div>

        <!-- 수정 모달 HTML -->
        <div class="modal fade" id="scheduleEditModal" tabindex="-1" role="dialog" aria-labelledby="scheduleEditModalLabel">
            <div class="modal-dialog modal-dialog-centered custom-modal-size" style="max-width:54%; width: 54%; height:72%;">
                <div class="modal-content" style="height:72%;">
                    <div class="modal-header modal-colored-header bg-primary" style="display: flex; align-items: center; justify-content: space-between; font-size: 25px;">
                        <div class="modal-title" id="scheduleEditModalLabel">일정 수정</div>
                        <button type="button" class="close" data-dismiss="modal" >X</button>
                    </div>
                    <form id="scheduleEditFrm">
                        <div class="modal-body" style="padding:0px;">
                            <table style="border-bottom:none; border-top:none;" class="table bordered">
                                <tbody id="scheduleEditContent"></tbody>
                            </table>
                        </div>
                        <div class="modal-footer" style="margin-top:-16px;">
                            <button type="button" class="btn waves-effect waves-light btn-outline-secondary public-btn" data-dismiss="modal">취소</button>
                            <button type="button" class="btn waves-effect waves-light btn-primary public-btn" id="editSubmitButton">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

<script>
let calendar;  // 전역 변수로 선언

$(document).ready(function () {
    // 처음 페이지 로드 시 체크박스 영역을 숨김.
    $('#item-checkboxes').hide();

    // 장소 선택이 변경되었을 때 호출되는 함수
    $('#create_place_no').on('change', function() {
        const placeNo = $(this).val();  // 선택된 장소 번호

        // 선택된 값이 0이 아니면 AJAX 요청을 보냄
        if (!isNaN(placeNo) && placeNo !== '') {
            $.ajax({
                url: '/getItemsForPlace',  // 기자재 정보를 가져오는 URL
                type: 'GET',
                data: { placeNo: placeNo },  // 선택된 장소 번호를 쿼리 파라미터로 전송
                contentType: 'application/json; charset=utf-8',  // JSON 형식으로 데이터를 전송
                dataType: 'json',  // 서버에서 받을 데이터 형식을 JSON으로 지정
                success: function(data) {
                    // 기자재 체크박스 업데이트
                    updateCheckboxes(data);
                    // 기자재가 있을 경우 체크박스 영역을 표시
                    $('#item-checkboxes').show();
                },
                error: function(xhr, status, error) {
                    alert("기자재 정보를 불러오는데 실패했습니다.");
                }
            });
        } else {
            // 장소가 선택되지 않은 경우 체크박스 영역을 숨김
            $('#item-checkboxes').hide();
        }
    });

    // 체크박스 업데이트 함수
    function updateCheckboxes(items) {
        let checkboxesHtml = `
            <label class="mr-2">
                <input type="checkbox" id="select-all"> 전체 선택
            </label>
            <label class="mr-2">
                <input type="checkbox" id="deselect-all"> 전체 해제
            </label>
        `;  // 전체 선택/해제 체크박스 추가

        items.forEach(function(item) {
            checkboxesHtml += `
                <label class="mr-2">
                    <input type="checkbox" class="item-checkbox" name="item_no_list" value="${item.itemNo || item.item_no}">
                    ${item.itemName || item.item_name}
                </label>
            `;
        });
        // 생성된 체크박스를 'item-checkboxes' 영역에 삽입
        $('#item-checkboxes').html(checkboxesHtml);

        // 전체 선택 기능 연결
        $('#select-all').on('change', function() {
            if ($(this).is(':checked')) {
                $('.item-checkbox').prop('checked', true);
                $('#deselect-all').prop('checked', false); // 전체 해제 체크박스 해제
            }
        });

        // 전체 해제 기능 연결
        $('#deselect-all').on('change', function() {
            if ($(this).is(':checked')) {
                $('.item-checkbox').prop('checked', false);
                $('#select-all').prop('checked', false); // 전체 선택 체크박스 해제
            }
        });

        // 각각의 체크박스를 클릭 시 전체 선택/해제 상태를 업데이트
        $('.item-checkbox').on('change', function() {
            const totalItems = $('.item-checkbox').length;
            const checkedItems = $('.item-checkbox:checked').length;

            // 모든 아이템이 선택된 경우 전체 선택 체크박스 체크
            $('#select-all').prop('checked', totalItems === checkedItems);

            // 하나라도 선택되지 않은 경우 전체 해제 체크박스 체크
            $('#deselect-all').prop('checked', checkedItems === 0);
        });
    }

    // 캘린더 초기화
    let calendarEl = document.getElementById('calendar');

    // 장소 번호에 따른 색상을 저장할 객체
    let placeColorMap = {};
    let fixedColors = ['#FF0000', '#FF7F00', '#FFFF00', '#00FF00', '#0000FF', '#4B0082', '#9400D3', '#FFC0CB', '#A52A2A', '#FFD700', '#00FFFF', '#8B4513'];
    let colorIndex = 0;

    calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: ''
        },
        locale: 'ko',
        buttonText: {
            today: '오늘',
            month: '월간',
            week: '주간',
            day: '일간',
            prev: '이전',
            next: '다음'
        },
        displayEventTime: true,
        eventTimeFormat: {
            hour: 'numeric',
            minute: '2-digit',
            meridiem: false
        },
        slotEventOverlap: false,
        eventOverlap: false,
        dayHeaderClassNames: function(arg) {
            if (arg.date.getDay() === 0) return ['fc-day-sun'];
            if (arg.date.getDay() === 6) return ['fc-day-sat'];
        },
        dayCellClassNames: function(arg) {
            if (arg.date.getDay() === 0) return ['fc-day-sun'];
            if (arg.date.getDay() === 6) return ['fc-day-sat'];
        },
        events: function(fetchInfo, successCallback, failureCallback) {
            $.ajax({
                url: '/totalSchedule',
                type: 'GET',
                success: function(data) {
                    let events = data.map(function(schedule) {
                        let placeNo = schedule.place_no;
                        let backgroundColor = placeColorMap[placeNo] || fixedColors[colorIndex++ % fixedColors.length];
                        placeColorMap[placeNo] = backgroundColor;
                        return {
                            id: schedule.place_schedule_no,
                            title: `${schedule.place_name} ${schedule.place_schedule_title}`,
                            start: `${schedule.start_date}T${schedule.start_time}`,
                            end: `${schedule.end_date}T${schedule.end_time}`,
                            description: schedule.place_schedule_content,
                            empName: schedule.emp_name,
                            backgroundColor: backgroundColor
                        };
                    });
                    successCallback(events);
                },
                error: function() {
                    failureCallback();
                }
            });
        },
        eventDidMount: function(info) {
            info.el.style.color = 'black';
            info.el.style.fontWeight = 'bold';
            const eventTitleElements = info.el.querySelectorAll('.fc-event-title, .fc-event-time');
            eventTitleElements.forEach(function(titleEl) {
                titleEl.style.color = 'black';
            });
        }
    });

    calendar.render();

    // 뷰 전환 버튼 이벤트 추가
    $('#month-view-button').on('click', function() {
        calendar.changeView('dayGridMonth');
    });

    $('#week-view-button').on('click', function() {
        calendar.changeView('timeGridWeek');
    });

    $('#day-view-button').on('click', function() {
        calendar.changeView('timeGridDay');
    });

    // 등록 모달창 열기
    $('#register-button').on('click', function() {
        $('#scheduleCreateModal').modal('show');
    });

    // 일정 등록 폼 제출 이벤트 핸들러
    $('#scheduleCreateFrm').on('submit', function(e) {
        e.preventDefault();

        let vali_check = false; 
        let vali_text = '';
        let form = document.getElementById('scheduleCreateFrm');

        // 유효성 검사
        if (form.create_start_date.value === '') {
            vali_text += '시작일이 비어있습니다.\n';
            form.create_start_date.focus();
        } else if (form.create_start_time.value === '') {
            vali_text += '시작시간이 비어있습니다.\n';
            form.create_start_time.focus();
        } else if (form.create_end_date.value === '') {
            vali_text += '종료일이 비어있습니다.\n';
            form.create_end_date.focus();
        } else if (form.create_end_time.value === '') {
            vali_text += '종료시간이 비어있습니다.\n';
            form.create_end_time.focus();
        } else if (form.create_schedule_title.value === '') {
            vali_text += '제목이 비어있습니다.\n';
            form.create_schedule_title.focus();
        } else if (form.create_place_no.value === '') {
            vali_text += '장소를 선택해주세요.\n';
            form.create_place_no.focus();
        } else if ($('.item-checkbox:checked').length === 0) {
            vali_text += '최소 하나의 기자재를 선택하세요.';
        } else if (form.create_emp_id.value === '') {
            vali_text += '신청인을 선택해주세요.';
            form.create_emp_id.focus();
        } else {
            const startDateTime = new Date(form.create_start_date.value + 'T' + form.create_start_time.value);
            const endDateTime = new Date(form.create_end_date.value + 'T' + form.create_end_time.value);

            if (startDateTime >= endDateTime) {
                vali_text += '종료 날짜와 시간이 시작 날짜와 시간보다 이전이거나 같습니다.\n';
            } else {
                vali_check = true;
            }
        }

        if (!vali_check) {
            Swal.fire({
                icon: 'error',
                title: '실패',
                text: vali_text,
                confirmButtonText: "닫기"
            });
            return;
        }

        const formData = new FormData(form);
        const selectedItems = [];
        $('.item-checkbox:checked').each(function() {
            selectedItems.push($(this).val());
        });

        formData.append('itemNoList', selectedItems); 

        const csrfToken = document.getElementById('csrf_token').value;

        fetch('/place_schedule', {
            method: 'POST',
            headers: {
                'X-CSRF-TOKEN': csrfToken
            },
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok: ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            if (data.res_code === '200') {
                Swal.fire({
                    icon: 'success',
                    title: '성공',
                    text: data.res_msg,
                    confirmButtonText: '닫기'
                }).then((result) => {
                    if (calendar) {
                        calendar.refetchEvents();
                    }
                    location.href = "/place_schedule";
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: '실패',
                    text: data.res_msg,
                    confirmButtonText: "닫기"
                });
            }
        })
        .catch(error => {
            Swal.fire({
                icon: 'error',
                title: '서버 오류',
                text: '일정 등록 중 오류가 발생했습니다.',
                confirmButtonText: "닫기"
            });
        });
    });
});
</script>




	<!-- JavaScript 파일 로딩 -->
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/app-style-switcher.js"></script>
    <script src="/dist/js/feather.min.js"></script>
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="/dist/js/sidebarmenu.js"></script>
    <script src="/dist/js/custom.min.js"></script>
</th:block>
</body>
</html>
