<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/place_layout}">
<head>
	<!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet">
    <!-- FullCalendar JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Google API Client Library -->
    <script src="https://apis.google.com/js/api.js"></script>
    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <style>
    
 /* 기존 .event-clickable을 포함한 다른 가능한 요소들에 적용 */
.fc-event, .event-clickable {
    cursor: pointer !important;
}
    
    #calendar {
	  width: 100%; /* 부모 요소의 너비를 캘린더에 적용 */
	  height: 800px; /* 높이는 자동으로 설정 */
	}
	
    
    /* 이벤트 상자의 최소 높이 설정 */
    .fc-time-grid-event {
        min-height: 40px; /* 이벤트 상자의 최소 높이를 늘림 */
    }

    /* 이벤트 내부 텍스트의 패딩 조정 */
    .fc-time-grid-event .fc-content {
        padding: 5px; /* 이벤트 상자 내부의 여백을 추가 */
        white-space: normal; /* 텍스트가 길 경우 줄바꿈 허용 */
    }

    /* 이벤트 텍스트 크기 조정 */
    .fc-time-grid-event .fc-title,
    .fc-time-grid-event .fc-time {
        font-size: 12px; /* 이벤트 텍스트 크기를 조정 */
        color : black;
    }

    /* 이벤트가 겹치는 경우 내부 여백을 줄여 텍스트 표시 가능하게 함 */
    .fc-event {
        padding: 3px;
        color: black !important;
    }
    
    
    /* 주간/일간 뷰에서 이벤트 텍스트 크기 줄이기 */
    .fc-time-grid-event .fc-title, 
    .fc-time-grid-event .fc-time {
        font-size: 12px;  /* 이벤트 제목과 시간의 폰트 크기 조정 */
    }

    /* 이벤트 상자의 백그라운드 높이 줄이기 */
    .fc-time-grid-event {
        padding: 3px; /* 이벤트 상자 내부 여백 줄이기 */
    }

    /* 월간 뷰에서 이벤트 텍스트 크기 조정 */
    .fc-day-grid-event .fc-title {
        font-size: 12px; /* 이벤트 제목의 폰트 크기 */
    }

    /* 월간/주간/일간 뷰에서 백그라운드 높이 줄이기 */
    .fc-event {
        min-height: 20px; /* 이벤트 상자의 최소 높이 설정 */
    }

    /* 월간 뷰에서 이벤트 박스 높이 줄이기 */
    .fc-day-grid-event {
        padding: 3px;  /* 이벤트 상자 내부 여백 */
    }
    
    /* 일정 동그라미표시 */
    .fc-daygrid-event-dot {
	border-width: 7px;
	
}
    
    /* FullCalendar 일정 이벤트 텍스트 색상을 검정으로 설정 */
.fc-event, .fc-event-dot {
	color: black !important; /* 텍스트 색상을 검정으로 강제 설정 */
	text-decoration: none !important; /* 링크 밑줄 제거 */
}

.fc-dayGridMonth-view .fc-event-title-container {
	height: 20px !important; /* 원하는 높이로 조정 */
	line-height: 20px !important; /* 텍스트가 중앙에 오도록 설정 */
}

.fc-event-title {
	font-weight: normal !important; /* 제목 글씨를 일반 두께로 설정 */
}

.fc-dayGridMonth-view .fc-daygrid-event {
	margin-left: 1px !important;
	margin-right: 1px !important;
	margin-bottom: 0px !important;
}

.fc-daygrid-day-bottom {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

    
    
    	.fc-timegrid-allday {
	    display: none; /* All-day 행을 숨깁니다 */
			}
    
    	.fc-scrollgrid-sync-inner {
		    height: 100%; /* 전체 캘린더 높이 */
		}
    
    	/* 일요일과 토요일 스타일 */
	    .fc-day-sun .fc-daygrid-day-number,
	    .fc-day-sun .fc-col-header-cell-cushion {
	        color:  #FF0000 !important;/* 일요일 빨간색 */
	    }

	    .fc-day-sat .fc-daygrid-day-number,
	    .fc-day-sat .fc-col-header-cell-cushion {
	        color:  #0031AE !important; /* 토요일 남색 */
	    }
    
        /* 스타일 관련 내용은 그대로 유지 */
        .public-btn {
			width:72px;
			font-size:16px;
			height:45px;
		}

        .fc-prev-button,
		.fc-next-button,
		.fc-today-button{
		    color: white !important;
		    background-color: #5f76e8 !important;
		    border: 1px solid white !important;
		    padding: 10px 20px !important;
		    font-size: 16px !important;
		    line-height: 1.5 !important;
		    border-radius: 2px !important;
		    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
		}
		.fc-prev-button:hover,
		.fc-next-button:hover,
		.fc-today-button:hover,
		.fc-button-active:hover {
			background-color: #3e59e3 !important;
		}
    </style>
</head>

<th:block layout:fragment="content">

<body>
    <div class="page-wrapper">
        <div class="container-fluid" style="margin-bottom:-10px;">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" style="padding:50px 80px">
                            <!-- 타이틀, 등록버튼 -->
                            <div class="row" style="margin-left:0px !important; margin-right:0px !important; border-bottom: 1px solid gray; padding-bottom: 20px; display:flex; align-items: center;">
                                <div class="col d-flex justify-content-start align-items-center" style="padding:0px; max-width:140px;">
                                    <div style="font-size:30px;">캘린더</div>
                                </div>
                                <div class="col d-flex justify-content-end align-items-center" style="padding:0px;">
                                    <button type="button" class="btn btn-outline-secondary public-btn" id="register-button" sec:authorize="hasAnyAuthority('D3')">등록</button>
                                </div>
                            </div>

                            <!-- 월간/주간/일간 버튼을 추가할 곳 -->
                            <div class="row" style="margin-top: 20px; text-align: right;">
                                <div class="col">
                                    <div class="btn-group" role="group" aria-label="View Options">
                                        <button type="button" class="btn btn-outline-primary" id="month-view-button">월간</button>
                                        <button type="button" class="btn btn-outline-primary" id="week-view-button">주간</button>
                                        <button type="button" class="btn btn-outline-primary" id="day-view-button">일간</button>
                                    </div>
                                </div>
                            </div>

                            <!-- 캘린더 콘텐츠 -->
                            <div class="row mt-4" style="margin-left:0px !important; margin-right:0px !important;">
                                <div class="col" style="padding-right: 0;">
                                    <div id="calendar"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- 등록 모달 HTML -->
<div class="modal fade" id="scheduleCreateModal" tabindex="-1" role="dialog" aria-labelledby="scheduleCreateModalLabel">
    <div class="modal-dialog modal-dialog-centered custom-modal-size" style="max-width:54%; width: 54%; height:72%;">
        <div class="modal-content" style="height:72%;">
            <div class="modal-header modal-colored-header bg-primary" style="display: flex; align-items: center; justify-content: space-between; font-size: 25px;">
                <div class="modal-title" id="scheduleCreateModalLabel">
                    <i data-feather="calendar" class="svg-icon mr-2 ml-1"></i>
                    일정 등록
                </div>
                <button type="button" class="close" data-dismiss="modal" >
                    <i data-feather="x" class="svg-icon mr-2 ml-1"></i>
                </button>
            </div>
            <form id="scheduleCreateFrm" th:action="@{/place_schedule/save}" method="post">
                <div class="modal-body" style="padding:0px;">
                    <input type="hidden" id="csrf_token" th:value="${_csrf.token}">
                    
                   	
                    <table style="border-bottom:none; border-top:none;" class="table bordered">
                        <tbody id="scheduleCreateContent">
                            <div th:each="teacherHistory : ${thList}">
						        <input type="hidden" name="teacher_no" th:value="${teacherHistory.teacherNo}">
						        <input type="hidden" name="grade" th:value="${teacherHistory.grade}">
						        <input type="hidden" name="gradeClass" th:value="${teacherHistory.gradeClass}">
						    </div>
                        	
                        
                            <!-- 날짜 선택 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
                                    <span class="required-indicator"></span> <!-- 필수 입력 표시 -->
                                    <label>기간</label>
                                </td>
                                <td style="width: 80%;">
                                    <div class="form-inline">
                                        <input type="date" class="form-control" id="create_start_date" name="start_date" placeholder="시작일" style="max-width:170px; width:170px;">
                                        <input type="time" class="form-control" id="create_start_time" name="start_time" placeholder="시작시간" style="margin-left:5px !important; max-width:150px; width:150px;">
                                        <span class="ml-3 mr-3"> ~ </span>
                                        <input type="date" class="form-control" id="create_end_date" name="end_date" placeholder="종료일" style="max-width:170px; width:170px;">
                                        <input type="time" class="form-control" id="create_end_time" name="end_time" placeholder="종료시간" style="margin-left:5px !important; max-width:150px; width:150px;">
                                    </div>
                                </td>
                            </tr>

                            <!-- 제목 입력 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
                                    <span class="required-indicator"></span> <!-- 필수 입력 표시 -->
                                    <label>제목</label>
                                </td>
                                <td style="width: 80%;">
                                    <input type="text" class="form-control" name="place_schedule_title" id="create_schedule_title" placeholder="제목을 입력해주세요." style="width:100%;">
                                </td>
                            </tr>

                            <!-- 장소 선택 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
                                    <label for ="create_place_no">장소</label>
                                </td>
                                <td style="width: 80%;">
                                    <select class="form-control" id="create_place_no" name="place_no">
                                        <option value="" disabled selected>장소를 선택하세요</option>
                                        <th:block th:each="place : ${placeList}">
									    <option th:value="${place.placeNo}" th:text="${place.placeName}"></option>
									</th:block>
                                        
                                    </select>
                                </td>
                            </tr>

                            <!-- 기자재 선택 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
			                        <label>기자재</label>
			                    </td>

			                    <td style="width: 80%;">
			                        <div class="form-inline" id = "item-checkboxes">
			                        	 <!-- 전체 선택 체크박스 -->
								            <label class="mr-2">
								                <input type="checkbox" id="select-all"> 전체 선택
								            </label>
								
								            <!-- 전체 해제 체크박스 -->
								            <label class="mr-2">
								                <input type="checkbox" id="deselect-all"> 전체 해제
								            </label>
			                            <label class="mr-2" th:each="item : ${itemList}">
			                                 <input type="checkbox" class="item-checkbox" name="itemNoList" th:value="${item.itemNo}">
  												  <span th:text="${item.itemName}"></span>
			                            </label>
			                            
			                        </div>
			                    </td>
                            </tr>

                            <!-- 신청인 선택 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
                                    <label>신청인</label>
                                </td>
                                <td style="width: 80%;">
                                    <select class="form-control" id="create_emp_id" name="emp_id">
			                            <option value="" disabled selected>신청인을 선택하세요</option>
			                            <option th:each="employee : ${employeeList}" 
			                                    th:value="${employee.empId}" 
			                                    th:text="${employee.empName}">
			                            </option>
                       				 </select>
                                </td>
                            </tr>

                            <!-- 내용 입력 -->
                            <tr>
                                <td class="align-center" style="width: 20%;">
                                    <label>내용</label>
                                </td>
                                <td style="width: 80%;">
                                    <textarea class="form-control" rows="3" name="place_schedule_content" id="create_schedule_content" placeholder="내용을 입력해주세요." style ="resize : none;"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" style="margin-top:-16px;">
                    <button type="button" class="btn waves-effect waves-light btn-outline-secondary public-btn" data-dismiss="modal">취소</button>
                    <button type="submit" class="btn waves-effect waves-light btn-primary public-btn">등록</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

 <!-- 상세정보 모달 HTML -->
<div class="modal fade" id="scheduleDetailModal" tabindex="-1" role="dialog" aria-labelledby="scheduleDetailModalLabel">
    <div class="modal-dialog modal-dialog-centered custom-modal-size" style="max-width: 54%; width: 54%; height: 72%;">
        <div class="modal-content" style="height: 72%;">
            <div class="modal-header modal-colored-header bg-primary" style="display: flex; align-items: center; justify-content: space-between; font-size: 25px;">
                <div class="modal-title" id="scheduleDetailModalLabel">일정 상세 정보</div>
                <button type="button" class="close" data-dismiss="modal">
                    <i data-feather="x" class="svg-icon"></i>
                </button>
            </div>
            <div class="modal-body" style="padding: 0px;">
                <!-- 이곳에 동적으로 데이터를 삽입할 예정 -->
                <table style="border-bottom:none; border-top:none;" class="table bordered">
                    <tbody id="scheduleDetailContent">
                        <!-- JavaScript를 통해 내용이 추가될 부분 -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-outline-secondary public-btn" data-dismiss="modal">닫기</button>
                <button type="button" class="btn waves-effect waves-light btn-primary public-btn" id="delete-schedule-button">삭제</button>
            </div>
            <!-- CSRF 토큰 추가 -->
            <input type="hidden" id="csrf_token" th:value="${_csrf.token}">
        </div>
    </div>
</div>

        <!-- 수정 모달 HTML -->
        <div class="modal fade" id="scheduleEditModal" tabindex="-1" role="dialog" aria-labelledby="scheduleEditModalLabel">
            <div class="modal-dialog modal-dialog-centered custom-modal-size" style="max-width:54%; width: 54%; height:72%;">
                <div class="modal-content" style="height:72%;">
                    <div class="modal-header modal-colored-header bg-primary" style="display: flex; align-items: center; justify-content: space-between; font-size: 25px;">
                        <div class="modal-title" id="scheduleEditModalLabel">일정 수정</div>
                        <button type="button" class="close" data-dismiss="modal" >X</button>
                    </div>
                    <form id="scheduleEditFrm">
                        <div class="modal-body" style="padding:0px;">
                            <table style="border-bottom:none; border-top:none;" class="table bordered">
                                <tbody id="scheduleEditContent"></tbody>
                            </table>
                        </div>
                        <div class="modal-footer" style="margin-top:-16px;">
                            <button type="button" class="btn waves-effect waves-light btn-outline-secondary public-btn" data-dismiss="modal">취소</button>
                            <button type="button" class="btn waves-effect waves-light btn-primary public-btn" id="editSubmitButton">등록</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

<script>
let calendar;  // 전역 변수로 선언

$(document).ready(function () {
	
	let selectedItems = []; // 전역 변수로 선언하여 전체 선택/해제 시에도 접근 가능하도록 함
	
    // 처음 페이지 로드 시 체크박스 영역을 숨김.
    $('#item-checkboxes').hide();

    // 장소 선택이 변경되었을 때 호출되는 함수
    $('#create_place_no').on('change', function() {
        const placeNo = $(this).val();  // 선택된 장소 번호

        // 선택된 값이 0이 아니면 AJAX 요청을 보냄
        if (!isNaN(placeNo) && placeNo !== '') {
            $.ajax({
                url: '/getItemsForPlace',  // 기자재 정보를 가져오는 URL
                type: 'GET',
                data: { placeNo: placeNo },  // 선택된 장소 번호를 쿼리 파라미터로 전송
                contentType: 'application/json; charset=utf-8',  // JSON 형식으로 데이터를 전송
                dataType: 'json',  // 서버에서 받을 데이터 형식을 JSON으로 지정
                success: function(data) {
                    // 기자재 체크박스 업데이트
                    updateCheckboxes(data);
                    // 기자재가 있을 경우 체크박스 영역을 표시
                    $('#item-checkboxes').show();
                },
                error: function(xhr, status, error) {
                    alert("기자재 정보를 불러오는데 실패했습니다.");
                }
            });
        } else {
            // 장소가 선택되지 않은 경우 체크박스 영역을 숨김
            $('#item-checkboxes').hide();
        }
    });

    // 체크박스 업데이트 함수
    function updateCheckboxes(items) {
        let checkboxesHtml = `
            <label class="mr-2">
                <input type="checkbox" id="select-all"> 전체 선택
            </label>
            <label class="mr-2">
                <input type="checkbox" id="deselect-all"> 전체 해제
            </label>
        `;  // 전체 선택/해제 체크박스 추가

        items.forEach(function(item) {
            checkboxesHtml += `
                <label class="mr-2">
                    <input type="checkbox" class="item-checkbox" name="item_no_list" value="${item.itemNo || item.item_no}">
                    ${item.itemName || item.item_name}
                </label>
            `;
        });
        // 생성된 체크박스를 'item-checkboxes' 영역에 삽입
        $('#item-checkboxes').html(checkboxesHtml);

     // 전체 선택 기능 연결
        $('#select-all').on('click', function() {
            // 전체 선택 체크박스의 실제 체크 상태를 무시하고 개별 체크박스만 모두 선택
            $('.item-checkbox').prop('checked', true);
            
            // 전체 선택 시 `selectedItems` 배열을 초기화하고 모든 체크박스의 값을 추가
            selectedItems = [];
            $('.item-checkbox').each(function() {
                const itemValue = $(this).val();
                if (itemValue !== undefined && itemValue !== '') {
                    selectedItems.push(itemValue);
                }
            });

           

            $('#deselect-all').prop('checked', false); // 전체 해제 체크박스 해제

            // 전체 선택 체크박스의 체크 상태를 변경하지 않음 (항상 unchecked 상태로 유지)
            $(this).prop('checked', false);
        });

        // 전체 해제 기능 연결
        $('#deselect-all').on('change', function() {
            if ($(this).is(':checked')) {
                $('.item-checkbox').prop('checked', false);
                selectedItems = []; // 전체 해제 시 배열 초기화
                $('#select-all').prop('checked', false); // 전체 선택 체크박스 해제
            }
        });

        // 개별 체크박스 변경 시 이벤트 처리
        $('.item-checkbox').on('change', function () {
            const itemValue = $(this).val();
            if ($(this).is(':checked')) {
                if (itemValue !== undefined && itemValue !== '') { // 값이 정의되어 있고 비어있지 않은 경우만 추가
                    selectedItems.push(itemValue);
                }
            } else {
                // 체크 해제 시 해당 아이템을 배열에서 제거
                selectedItems = selectedItems.filter(value => value !== itemValue);
            }
        });
    }

    // 캘린더 초기화
    let calendarEl = document.getElementById('calendar');

    // 장소 번호에 따른 색상을 저장할 객체
    let placeColorMap = {};
    let fixedColors = ['#FF0000', '#FF7F00', '#FFFF00', '#00FF00', '#0000FF', '#4B0082', '#9400D3', '#FFC0CB', '#A52A2A', '#FFD700', '#00FFFF', '#8B4513'];
    let colorIndex = 0;

    calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: ''
        },
        locale: 'ko',
        buttonText: {
            today: '오늘',
            month: '월간',
            week: '주간',
            day: '일간',
            prev: '이전',
            next: '다음'
        },
        displayEventTime: true,
        eventTimeFormat: {
            hour: 'numeric',
            minute: '2-digit',
            meridiem: false
        },
        slotEventOverlap: false,
        eventOverlap: false,
        
        // 새로운 옵션 추가
        dayMaxEventRows: 2, // 하루에 표시할 최대 이벤트 수
        moreLinkText: '더보기', // "더보기" 링크 텍스트
        views: {
            dayGridMonth: { // "월간" 뷰에 대한 추가 설정
                dayMaxEventRows: 2, // 최대 이벤트 수를 설정
            }
        },
        
     // 이벤트 클릭 시 상세 조회 모달을 표시하는 코드 추가
        eventClick: function(info) {
            const scheduleId = info.event.id; // 클릭된 일정의 ID를 가져옴
            
            // AJAX로 상세 정보 가져오기
            $.ajax({
                url: '/place_schedule/detail/' + scheduleId, // 상세 정보 API 호출
                type: 'GET',
                success: function(data) {
                    // 모달 내용 채우기
                    $('#scheduleDetailModal #detail_place_name').text(data.place_name);
                    $('#scheduleDetailModal #detail_emp_name').text(data.emp_name);
                    $('#scheduleDetailModal #detail_period').text(`${data.start_date} ${data.start_time} ~ ${data.end_date} ${data.end_time}`);
                    $('#scheduleDetailModal #detail_title').text(data.place_schedule_title);
                    $('#scheduleDetailModal #detail_item_name').text(data.item_name);
                    $('#scheduleDetailModal #detail_item_quantity').text(data.item_quantity);
                    $('#scheduleDetailModal #detail_content').text(data.place_schedule_content);
                    
                    // 모달 표시
                    $('#scheduleDetailModal').modal('show');
                },
                error: function() {
                    alert('상세 정보를 불러오는데 실패했습니다.');
                }
            });
        },
        
        dayHeaderClassNames: function(arg) {
            if (arg.date.getDay() === 0) return ['fc-day-sun'];
            if (arg.date.getDay() === 6) return ['fc-day-sat'];
        },
        dayCellClassNames: function(arg) {
            if (arg.date.getDay() === 0) return ['fc-day-sun'];
            if (arg.date.getDay() === 6) return ['fc-day-sat'];
        },
        events: function(fetchInfo, successCallback, failureCallback) {
            $.ajax({
                url: '/totalSchedule',
                type: 'GET',
                success: function(data) {
                    let events = data.map(function(schedule) {
                        let placeNo = schedule.place_no;
                        let backgroundColor = placeColorMap[placeNo] || fixedColors[colorIndex++ % fixedColors.length];
                        placeColorMap[placeNo] = backgroundColor;
                        return {
                            id: schedule.place_schedule_no,
                            title: `${schedule.place_name} ${schedule.place_schedule_title}`,
                            start: `${schedule.start_date}T${schedule.start_time}`,
                            end: `${schedule.end_date}T${schedule.end_time}`,
                            description: schedule.place_schedule_content,
                            empName: schedule.emp_name,
                            backgroundColor: backgroundColor
                        };
                    });
                    successCallback(events);
                },
                error: function() {
                    failureCallback();
                }
            });
        },
        eventDidMount: function(info) {
            info.el.style.color = 'black';
            info.el.style.fontWeight = 'bold';
            const eventTitleElements = info.el.querySelectorAll('.fc-event-title, .fc-event-time');
            eventTitleElements.forEach(function(titleEl) {
                titleEl.style.color = 'black';
            });
        }
    });

    calendar.render();

 // 공통 함수: 모달 초기화
    function resetModal(type) {
        const modal = $(`#schedule${type.charAt(0).toUpperCase() + type.slice(1)}Modal`);
        
        // 폼 요소가 존재하는지 확인 후 초기화
        const form = modal.find('form')[0];
        if (form) {
            form.reset();
        }

        // 체크박스 영역 숨기기 및 모든 체크박스 해제
        modal.find('#item-checkboxes').hide();
        modal.find('input[type="checkbox"]').prop('checked', false);
        selectedItems = []; // 배열 초기화
    }

    // 공통 함수: 모든 모달 닫기
    function closeAllModals() {
        $('.modal').modal('hide');
    }

    // 등록 모달 초기화 및 이벤트 연결
    $('#scheduleCreateModal').on('hidden.bs.modal', function() {
        resetModal('create');
        closeAllModals();
    });

    // 상세조회 모달 초기화 및 이벤트 연결
    $('#scheduleDetailModal').on('hidden.bs.modal', function() {
        resetModal('detail');
        closeAllModals();
    });

    // 모달 닫기 버튼과 취소 버튼에 초기화 함수 연결
    $('.close[data-dismiss="modal"], .public-btn[data-dismiss="modal"]').on('click', function () {
        const modalId = $(this).closest('.modal').attr('id');

        if (modalId === 'scheduleCreateModal') {
            resetModal('create'); // 등록 모달 초기화
            closeAllModals();
        } else if (modalId === 'scheduleDetailModal') {
            resetModal('detail'); // 상세조회 모달 초기화
            closeAllModals();
        }
    });
    
    
    // 뷰 전환 버튼 이벤트 추가
    $('#month-view-button').on('click', function() {
        calendar.changeView('dayGridMonth');
    });

    $('#week-view-button').on('click', function() {
        calendar.changeView('timeGridWeek');
    });

    $('#day-view-button').on('click', function() {
        calendar.changeView('timeGridDay');
    });

    // 등록 모달창 열기
    $('#register-button').on('click', function() {
        $('#scheduleCreateModal').modal('show');
    });

 // 일정 등록 폼 제출 이벤트 핸들러
    $('#scheduleCreateFrm').on('submit', function(e) {
        e.preventDefault();

        let vali_check = false; 
        let vali_text = '';
        let form = document.getElementById('scheduleCreateFrm');

        // 유효성 검사
        if (form.create_start_date.value === '') {
            vali_text += '시작일이 비어있습니다.\n';
            form.create_start_date.focus();
        } else if (form.create_start_time.value === '') {
            vali_text += '시작시간이 비어있습니다.\n';
            form.create_start_time.focus();
        } else if (form.create_end_date.value === '') {
            vali_text += '종료일이 비어있습니다.\n';
            form.create_end_date.focus();
        } else if (form.create_end_time.value === '') {
            vali_text += '종료시간이 비어있습니다.\n';
            form.create_end_time.focus();
        } else if (form.create_schedule_title.value === '') {
            vali_text += '제목이 비어있습니다.\n';
            form.create_schedule_title.focus();
        } else if (form.create_place_no.value === '') {
            vali_text += '장소를 선택해주세요.\n';
            form.create_place_no.focus();
        } else if (form.create_place_no.value != '0' && $('.item-checkbox:checked').length === 0) {
        	 // 장소 번호가 0이 아닌데 선택된 기자재가 없는 경우
        	vali_text += '최소 하나의 기자재를 선택하세요.';
        } else if (form.create_emp_id.value === '') {
            vali_text += '신청인을 선택해주세요.';
            form.create_emp_id.focus();
        } else {
            const startDateTime = new Date(form.create_start_date.value + 'T' + form.create_start_time.value);
            const endDateTime = new Date(form.create_end_date.value + 'T' + form.create_end_time.value);

            if (startDateTime >= endDateTime) {
                vali_text += '종료 날짜와 시간이 시작 날짜와 시간보다 이전이거나 같습니다.\n';
            } else {
                vali_check = true;
            }
        }

        if (!vali_check) {
            Swal.fire({
                icon: 'error',
                title: '실패',
                text: vali_text,
                confirmButtonText: "닫기"
            });
            return;
        }

        const formData = new FormData(form);
        
        
       
     // 기존 배열에서 undefined 또는 빈 값을 제거
        selectedItems = selectedItems.filter(item => item !== undefined && item !== '');

        // place_no가 '0'일 때만 특별한 처리
        if (form.create_place_no.value === '0') {
            if (selectedItems.length === 0) {
                // place_no가 '0'이고 선택된 아이템이 없을 때
                selectedItems.push(''); // 서버에 빈 값으로 전달 (백엔드에서 '전체' 처리)
            }
        }
        

        formData.append('itemNoList', selectedItems);

        const csrfToken = document.getElementById('csrf_token').value;

        
        
        // Ajax 요청
        fetch('/place_schedule', {
            method: 'POST',
            headers: {
                'X-CSRF-TOKEN': csrfToken
            },
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok: ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            if (data.res_code === '200') {
                Swal.fire({
                    icon: 'success',
                    title: '성공',
                    text: data.res_msg,
                    confirmButtonText: '닫기'
                }).then((result) => {
                    if (calendar) {
                        calendar.refetchEvents();
                    }
                    location.href = "/place_schedule";
                });
            } else {
                // 서버에서 전달된 오류 메시지 출력
                Swal.fire({
                    icon: 'error',
                    title: '실패',
                    text: data.res_msg, // 서버에서 전달된 메시지 사용
                    confirmButtonText: "닫기"
                });
            }
        })
        .catch(error => {
            // 예외 발생 시 출력
            Swal.fire({
                icon: 'error',
                title: '서버 오류',
                text: '일정 등록 중 오류가 발생했습니다.', // 기본 오류 메시지
                confirmButtonText: "닫기"
            });
        });
    });
});

//일정 상세 정보 모달 생성
$(document).ready(function () {

    // 이벤트 클릭 시 상세 조회 모달을 표시하는 코드 추가
    calendar.on('eventClick', function(info) {
        const scheduleId = info.event.id; // 클릭된 일정의 ID를 가져옴
        
        // AJAX로 상세 정보 가져오기
        $.ajax({
            url: '/place_schedule/detail/' + scheduleId, // 상세 정보 API 호출
            type: 'GET',
            success: function(data) {
            	
                openScheduleDetailModal(data); // 모달 내용 채우기 함수 호출
            },
            error: function() {
                alert('상세 정보를 불러오는데 실패했습니다.');
            }
        });
    });


// 일정 상세 정보 모달 생성
function openScheduleDetailModal(data) {
    const scheduleDetailContent = document.getElementById('scheduleDetailContent');

    const formattedPeriod = `${moment(data.start_date + ' ' + data.start_time).format('YYYY.MM.DD HH:mm')} ~ ${moment(data.end_date + ' ' + data.end_time).format('YYYY.MM.DD HH:mm')}`;
    let placeName = data.place_name || '알 수 없는 장소';

    // item_no 리스트를 문자열 배열로 변환
    let itemNoList = data.item_no ? data.item_no.toString().split(',') : [];
    

    // place_no가 0이고 item_no가 null인 경우에는 기자재 목록을 표시하지 않음
    if (data.place_no === 0 && (!data.item_no || data.item_no.length === 0)) {
        scheduleDetailContent.innerHTML = `
            <div class="modal-body" style="padding:0px;">
                <table class="table bordered">
                    <tbody>
                        <tr>
                            <td class="align-center" style="width: 20%;"><label>기간</label></td>
                            <td style="width: 80%;">${formattedPeriod}</td>
                        </tr>
                        <tr>
                            <td class="align-center" style="width: 20%;"><label>제목</label></td>
                            <td style="width: 80%;"><input type="text" class="form-control" value="${data.place_schedule_title}" readonly></td>
                        </tr>
                        <tr>
                            <td class="align-center" style="width: 20%;"><label>장소</label></td>
                            <td style="width: 80%;"><input type="text" class="form-control" value="${placeName}" readonly></td>
                        </tr>
                        <tr>
                            <td class="align-center" style="width: 20%;"><label>기자재</label></td>
                            <td style="width: 80%;">선택된 기자재 없음</td>
                        </tr>
                        <tr>
                            <td class="align-center" style="width: 20%;"><label>신청인</label></td>
                            <td style="width: 80%;"><input type="text" class="form-control" value="${data.emp_name}" readonly></td>
                        </tr>
                        <tr>
                            <td class="align-center" style="width: 20%;"><label>내용</label></td>
                            <td style="width: 80%;"><textarea class="form-control" readonly style="resize:none">${data.place_schedule_content}</textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        `;        
        // 삭제 버튼 클릭 이벤트 등록
        document.getElementById('delete-schedule-button').onclick = function() {
            deleteSchedule(data.place_schedule_no);
        };

        $('#scheduleDetailModal').modal('show');
        return;
    }

    // 가져온 기자재 목록을 그대로 사용
    $.ajax({
        url: '/getItemsForPlace',
        type: 'GET',
        data: { placeNo: data.place_no },
        success: function(items) {
           
            let itemCheckboxes = '';
            if (Array.isArray(items)) {
                items.forEach((item) => {
                    // 현재 기자재가 선택된 상태인지 확인하고, 체크박스 생성
                    const isChecked = itemNoList.includes(String(item.item_no)); // item_no를 문자열로 변환하여 비교
                   

                    itemCheckboxes += `
                        <label class="mr-2">
                            <input type="checkbox" class="item-checkbox" name="itemNoList" value="${item.item_no}"
                            ${isChecked ? 'checked' : ''} disabled> 
                            ${item.item_name} (사용 갯수: ${item.item_quantity})
                        </label>
                    `;
                });
            } else {
                itemCheckboxes = '선택된 기자재 없음';
            }

            // 모달의 내용을 동적으로 생성
            scheduleDetailContent.innerHTML = `
                <div class="modal-body" style="padding:0px;">
                    <table class="table bordered">
                        <tbody>
                            <tr>
                                <td class="align-center" style="width: 20%;"><label>기간</label></td>
                                <td style="width: 80%;">${formattedPeriod}</td>
                            </tr>
                            <tr>
                                <td class="align-center" style="width: 20%;"><label>제목</label></td>
                                <td style="width: 80%;"><input type="text" class="form-control" value="${data.place_schedule_title}" readonly></td>
                            </tr>
                            <tr>
                                <td class="align-center" style="width: 20%;"><label>장소</label></td>
                                <td style="width: 80%;"><input type="text" class="form-control" value="${placeName}" readonly></td>
                            </tr>
                            <tr>
                                <td class="align-center" style="width: 20%;"><label>기자재</label></td>
                                <td style="width: 80%;">${itemCheckboxes}</td>
                            </tr>
                            <tr>
                                <td class="align-center" style="width: 20%;"><label>신청인</label></td>
                                <td style="width: 80%;"><input type="text" class="form-control" value="${data.emp_name}" readonly></td>
                            </tr>
                            <tr>
                                <td class="align-center" style="width: 20%;"><label>내용</label></td>
                                <td style="width: 80%;"><textarea class="form-control" readonly style="resize:none">${data.place_schedule_content}</textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            `;

            // 삭제 버튼 클릭 이벤트 등록
            document.getElementById('delete-schedule-button').onclick = function() {
                deleteSchedule(data.place_schedule_no);
            };

            $('#scheduleDetailModal').modal('show');
        },
        error: function() {
            alert('기자재 정보를 불러오는데 실패했습니다.');
        }
    });
}




 
 // 일정 삭제
    function deleteSchedule(place_schedule_no) {
        Swal.fire({
            title: '삭제하시겠습니까?',
            text: '삭제하면 복구할 수 없습니다.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '삭제',
            cancelButtonText: '취소'
        }).then((result) => {
            if (result.isConfirmed) {
                // CSRF 토큰 가져오기
                const csrfToken = document.getElementById('csrf_token').value;

                $.ajax({
                    url: '/place_schedule/delete/' + place_schedule_no,
                    type: 'DELETE',
                    headers: {
                        'X-CSRF-TOKEN': csrfToken // CSRF 토큰을 헤더에 포함
                    },
                    success: function(response) {
                        if (response.res_code === '200') {
                            Swal.fire('삭제 완료', response.res_msg, 'success');
                            $('#scheduleDetailModal').modal('hide');
                            if (calendar) {
                                calendar.refetchEvents();
                            }
                        } else {
                            Swal.fire('실패', response.res_msg, 'error');
                        }
                    },
                    error: function() {
                        Swal.fire('실패', '일정 삭제 중 오류가 발생하였습니다.', 'error');
                    }
                });
            }
        });
    }
 
});
</script>




	<!-- JavaScript 파일 로딩 -->
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/app-style-switcher.js"></script>
    <script src="/dist/js/feather.min.js"></script>
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="/dist/js/sidebarmenu.js"></script>
    <script src="/dist/js/custom.min.js"></script>
</th:block>
</body>
</html>
