<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/student_layout}">
<head>
	<link href="/dist/css/style.min.css" rel="stylesheet">
	
<style>
    /* 테이블 스타일 */
    table {
        width: 100%;
        border-collapse: collapse; /* 테두리가 겹치지 않도록 설정 */
    }

    th, td {
        border: 2px solid black; /* 테두리 두께 및 색상 */
        padding: 8px;
        text-align: center;
    }
	input[type="text"] {
        width: 80px; /* 너비 설정 */
        height: 30px; /* 높이 설정 */
        padding: 5px; /* 내부 여백 */
        font-size: 14px; /* 글꼴 크기 */
    }
	.custom-cancel-button{
		color: black !important;
	}
	
	.swal-custom-button {
	  background-color: #0031AE !important;
	  color: white; /* 버튼 텍스트 색상 */
	  border: none; /* 버튼 테두리 제거 */
	  padding: 10px 20px; /* 버튼 패딩 */
	  font-size: 16px; /* 버튼 폰트 크기 */
	  cursor: pointer; /* 마우스 커서 포인터 */
	}
	
	.swal-custom-button:hover {
	  background-color: #002685 !important;
	}
</style>
</head>

<th:block layout:fragment="content">
<body>
		<div class="page-wrapper">
			<div class="page-breadcrumb">
				<div class="row">
				<div class="col-sm-12 col-md-12">
				<div class="card">
					<div id="content" class="card-body" style="padding:50px 80px">
					<div class="row" style="margin-left:0px !important; margin-right:0px !important;">
	                    <div class="col d-flex justify-content-start align-items-center" style="padding-left:0px; max-width:320px;">
	                        <div style="font-size:30px; color:black;"><span th:text="${studentDto.student_name}"></span>학생 성적 관리</div>
	                    </div>			
	                    <div class="col d-flex justify-content-end align-items-center">
							<button id="download_excel" class="btn btn-info">엑셀로 받기</button>
						</div>			
					</div>
					
					
			            <form id="score_register_form" method="post">
			            <input type="hidden" id="csrf_token" th:value="${_csrf.token}">
			            <!-- 각 과목별로 테이블을 생성 -->
			            <div th:each="subject : ${subjectList}">
						    <br>
						    <h3 th:text="${subject.subject_name}" style="color:black;"></h3> <!-- 과목명 표시 -->
						    
						    <table class="mt-3" style="font-size:13px;">
							    <thead>
							        <tr>
							            <th rowspan="2">과목</th>
							            <!-- 해당 과목에 해당하는 교육과정 내용만 필터링 -->
							            <th th:each="curri : ${curriList}" 
							                th:if="${curri.subject.subjectNo == subject.subject_no}" 
							                th:text="${curri.curriculum_content}" colspan="3"></th> <!-- 교육과정 내용 -->
							                <th rowspan="2">취득 점수</th>
							        </tr>
							        <tr>
							            <!-- 해당 과목의 교육과정 정보만 필터링해서 반복 -->
							            <th:block th:each="curri : ${curriList}" th:if="${curri.subject.subjectNo == subject.subject_no}">
							                <th>반영비율(%)</th>
							                <th>과목만점</th>
							                <th>점수</th>
							            </th:block>
							        </tr>
							    </thead>
							    <tbody>

							        <!-- 과목 별로 하나의 row를 생성 -->
							        <tr>
							            <td th:text="${subject.subject_name}"></td>
							            <!-- 해당 과목의 curriculum만 필터링해서 반복 -->
							            <th:block th:each="curri : ${curriList}" 
							                      th:if="${curri.subject.subjectNo == subject.subject_no}">
							                <td th:text="${curri.curriculum_ratio}"></td> <!-- 반영비율 -->
							                <td th:text="${curri.curriculum_max_score}"></td> <!-- 과목만점 -->
							                
							                <td>
								                <input type="hidden" name="curriculum_no" th:value="${curri.curriculum_no}"/>
	                    						<input type="hidden" id="student_no" name="student_no" th:value="${resultList.student_no}"/>
											    <input type="text" name="score" id="score" th:value="${scoreList.get(curri.curriculum_no) != null ? scoreList.get(curri.curriculum_no) : ''}" />
											</td>
							            </th:block>
											<td th:text="${totalScoreMap.get(subject.subject_no)}"></td>
							        </tr>
							    </tbody>
							</table>

						</div>
						<br>
						<div class="row">
					    <div class="col d-flex justify-content-end align-items-center">
							<br> 
							<input type="button" onclick="cancelBtn();" class="btn waves-effect waves-light btn-light m-1" value="취소">
							<input type="submit" class="btn waves-effect waves-light btn-primary m-1" style="margin-right:0 !important;" value="등록"> 
						</div>
						</div>
	            		</form>
	            		
					</div>
            	</div>
            	</div>
				</div>
			<div class="container-fluid">
			</div>
		</div>
		<footer class="footer text-center text-muted"> All Rights Reserved by Adminmart. Designed by DBDevDeep and Developed by WrapPixel.</footer>
	</div>
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/dist/js/app-style-switcher.js"></script>
	<script src="/dist/js/feather.min.js"></script>
	<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
	<script src="/dist/js/sidebarmenu.js"></script>
	<script src="/dist/js/custom.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
	  	const cancelBtn = () => {
	  		window.location.href = '/student/score';
	  	}
	</script>
	<script>
	  $(document).ready(function () {
		  const studentNo = document.getElementById("student_no").value; 
	    
	    $('#download_excel').on('click', function () {
	      const url = '/excel/download/student/' + studentNo; // studentNo를 URL에 추가
	      window.location.href = url;  // 해당 URL로 요청하여 다운로드
	    });
	  });
	</script>
	<script>
		const form = document.getElementById("score_register_form");
	
		form.addEventListener('submit', (e) => {
		    e.preventDefault();
	
		    // 새로운 FormData 생성
		    const formData = new FormData(form);
	
		    // scoreDtoList를 담을 배열 생성
		    let scoreDtoList = [];
	
		    // FormData에서 'score' 필드만 유효한 값만 필터링하여 처리
		    const scoreInputs = document.querySelectorAll('input[name="score"]');
	
		    scoreInputs.forEach(input => {
		        const scoreValue = input.value.trim();
		        
		        // curriculum_no와 student_no를 직접 가져옴
		        const curriculumNo = input.previousElementSibling.previousElementSibling.value;
		        const studentNo = input.previousElementSibling.value;


		        // scoreDto 객체 생성 후 배열에 추가 (빈 값도 포함)
		        let scoreDto = {
		            curriculum_no: curriculumNo,
		            student_no: studentNo,
		            score: scoreValue  // 빈 값도 전송
		        };
		        scoreDtoList.push(scoreDto);
		    });

	
	
		    // CSRF 토큰 가져오기
		    const csrfToken = document.getElementById('csrf_token').value;
	
		    // 서버로 전송
		    fetch('/score', {
		        method: 'POST',
		        headers: {
		            'X-CSRF-TOKEN': csrfToken,
		            'Content-Type': 'application/json' // JSON 형식으로 보냄
		        },
		        body: JSON.stringify(scoreDtoList) // scoreDtoList를 JSON으로 변환해서 전송
		    })
		    .then(response => response.json())
		    .then(data => {
		        if (data.res_code === '200') {
		            Swal.fire({
		                icon: 'success',
		                title: '성공',
		                text: data.res_msg,
	                    confirmButtonText: '확인',
	                    customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
		            }).then((result) => {
		            	location.reload();
		            });
		        } else {
		            Swal.fire({
		                icon: 'error',
		                title: '실패',
		                text: data.res_msg,
	                    confirmButtonText: '확인',
	                    customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
		            });
		        }
		    });
		});

	</script>
</body>

</html>
