<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/student_layout}">
<th:block layout:fragment="content">
<style>
    /* 테이블 스타일 */
    table {
        width: 100%;
        border-collapse: collapse; /* 테두리가 겹치지 않도록 설정 */
    }

    th, td {
        border: 2px solid black; /* 테두리 두께 및 색상 */
        padding: 8px;
        text-align: center;
    }

</style>
<body>
		<div class="page-wrapper">
			<div class="page-breadcrumb">
				<div class="row">
					<div id="content" class="card">
					<div class="card-body">
			            <form id="score_register_subject_form" method="post">
			            <h3>과목 성적 등록</h3>
			            <input type="hidden" id="csrf_token" th:value="${_csrf.token}">
			            	<table>
						        <thead>
								    <!-- 교육과정 정보가 없을 때 -->
								    <th:block th:if="${#lists.isEmpty(curriList)}">
								        <tr>
								            <th rowspan="2">번호</th>
								            <th rowspan="2">이름</th>
								            <td colspan="3">교육과정 정보가 없습니다.</td>
								        </tr>
								    </th:block>
								
								    <!-- 교육과정 정보가 있을 때 -->
								    <th:block th:if="${!#lists.isEmpty(curriList)}">
								        <tr>
								            <th rowspan="2">번호</th>
								            <th rowspan="2">이름</th>
								            <!-- curriculumList의 content 반복 -->
								            <th th:each="curri : ${curriList}" th:text="${curri.curriculum_content}" colspan="3"></th>
								        </tr>
								        <tr>
								            <!-- 반영비율, 과목만점, 점수 반복해서 생성 -->
								            <th:block th:each="curri : ${curriList}">
								                <th>반영비율(%)</th>
								                <th>과목만점</th>
								                <th>점수</th>
								            </th:block>
								        </tr>
								    </th:block>
								</thead>
						        <tbody>
								   <tr th:each="studentClass, stat : ${resultList}">
							            <td th:text="${studentClass.student_id}"></td> <!-- 번호 -->
							            <td th:text="${studentClass.student.studentName}"></td> <!-- 이름 -->
									<th:block th:each="curri : ${curriList}">
								        <td th:text="${curri.curriculum_ratio}+'%'"></td>
								        <td th:text="${curri.curriculum_max_score}+'점'"></td>
								        <td>
								        	<input type="hidden" th:value="${curri.curriculum_no}" name="curriculum_no">
						                    <input type="hidden" th:value="${studentClass.student_no}" name="student_no">
						                    <input type="text" style="width: 100px;" name="score" id="score" 
						                   th:value="${(scoreList != null && scoreList.get(studentClass.student_no) != null) ? 
						                     (scoreList.get(studentClass.student_no).get(curri.getCurriculum_no) != null ? 
						                     scoreList.get(studentClass.student_no).get(curri.getCurriculum_no) : '') : ''}">
								        </td>
								    </th:block>
					
								</tbody>
						    </table>
						    <button id="download_excel">엑셀 다운</button>
						    <input type="button" value="취소" th:onclick="|location.href='@{/student/score}'|">
				            <input type="submit" value="등록">
	            		</form>
					</div>
            	</div>
				</div>
			<div class="container-fluid">
			</div>
		</div>
	</div>
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/dist/js/app-style-switcher.js"></script>
	<script src="/dist/js/feather.min.js"></script>
	<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
	<script src="/dist/js/sidebarmenu.js"></script>
	<script src="/dist/js/custom.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
	  $(document).ready(function () {
	    $('#download_excel').on('click', function () {
	       location.href = '/excel/download';
	    });
	  });
	</script>
	<script>
	const form=document.getElementById("score_register_subject_form");
	form.addEventListener('submit',(e)=>{
		e.preventDefault();
		// 새로운 FormData 생성
	    const formData = new FormData(form);
	 	// scoreDtoList를 담을 배열 생성
	    let scoreDtoList = [];
	 	
	 	// FormData에서 'score' 필드만 유효한 값만 필터링하여 처리
	    const scoreInputs = document.querySelectorAll('input[name="score"]');
	 	
	    scoreInputs.forEach(input => {
	        const scoreValue = input.value.trim();
	        
	        // curriculum_no와 student_no를 직접 가져옴
	        const curriculumNo = input.previousElementSibling.previousElementSibling.value;
	        const studentNo = input.previousElementSibling.value;


	        // scoreDto 객체 생성 후 배열에 추가 (빈 값도 포함)
	        let scoreDto = {
	            curriculum_no: curriculumNo,
	            student_no: studentNo,
	            score: scoreValue  // 빈 값도 전송
	        };
	        scoreDtoList.push(scoreDto);
	    });
	 	
		const csrfToken = document.getElementById('csrf_token').value;
		
			fetch('/score',{
				method:'POST',
				headers : {
					'X-CSRF-TOKEN':csrfToken,
					'Content-Type': 'application/json'
				},
				body:JSON.stringify(scoreDtoList) 
			})
			.then(response => response.json())
			.then(data=>{
				if(data.res_code == '200'){
					Swal.fire({
						icon : 'success',
						title : '성공',
						text : data.res_msg
					}).then((result)=>{
						location.href = "/student/score";
					});
				}else{
					Swal.fire({
						icon : 'error',
						title : '실패',
						text : data.res_msg
					});
				}
			});
	});
	</script>
</body>

</html>