<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{include/student_layout}">
<head>
	<link href="/dist/css/style.min.css" rel="stylesheet">

<style>
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
	justify-content: center;
}
.btn {
	cursor: pointer;
}
.custom-cancel-button{
	color: black !important;
}

.swal-custom-button {
  background-color: #0031AE !important;
  color: white; /* 버튼 텍스트 색상 */
  border: none; /* 버튼 테두리 제거 */
  padding: 10px 20px; /* 버튼 패딩 */
  font-size: 16px; /* 버튼 폰트 크기 */
  cursor: pointer; /* 마우스 커서 포인터 */
}

.swal-custom-button:hover {
  background-color: #002685 !important;
}
</style>
</head>
<th:block layout:fragment="content">
	<body>
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body" style="padding: 50px 80px;">
								<div class="col d-flex justify-content-start align-items-center" style="padding-left:0px; max-width:260px;">
			                        <div style="font-size:30px; color:black;">과목 정보</div>
			                        <br>
			                    </div>
			                    <hr>
			                    
								<div class="student-info">
									<div class="student-details">
										<input type="hidden" id="csrf_token" th:value="${_csrf.token}">
												
												<p th:text="${subjectDetail.teacher_history.getTYear} + '학년도 ' + ${subjectDetail.subject_semester} + '학기 ' + ${subjectDetail.teacher_history.grade} + '학년 ' +${subjectDetail.teacher_history.getGradeClass} + '반 '" style="font-size:20px;"></p>
												
												
												<table class="table table-bordered no-wrap" style="width:50%">
												    <colgroup>
												        <col style="width: 20%">
												        <col style="width: 80%">
												    </colgroup>
												    <tr>
												        <th>담당 교사</th>
												        <td th:text="${subjectDetail.teacher_history.getEmployee().getEmpName()}"></td>
												    </tr>
												    <tr>
												        <th>과목명</th>
												        <td th:text="${subjectDetail.subject_name}"></td>
												    </tr>
												    <tr>
												        <th>수업 시간</th>
												        <td>
												            <span th:if="${#lists.isEmpty(timetableDetail)}">
												                등록된 수업 시간 정보가 없습니다.
												            </span>
												            <span th:if="${!#lists.isEmpty(timetableDetail)}">
														    <span th:each="timetableDetailItem, iterStat : ${timetableDetail}">
														        <span th:text="${timetableDetailItem.day} + '요일 ' + ${timetableDetailItem.period} + '교시'"></span>
														        <span th:if="${!iterStat.last}">, </span>
															    </span>
															</span>

												        </td>
												    </tr>
												</table>
												
												<br>

											
												<div class="academic-info">
													<h3>평가 과정</h3>
													<table class="table table-bordered no-wrap" style="width:100%; text-align: center;">
														<thead>
															<tr>
																<th>평가 항목</th>
																<th>만점</th>
																<th>반영 비율</th>
															</tr>
														</thead>
														<tbody>
															<th:block th:if="${#lists.isEmpty(curriDetail)}">
																<tr>
																	<td colspan="3">평가 과정 정보가 존재하지 않습니다.</td>
																</tr>
															</th:block>
															<th:block th:if="${!#lists.isEmpty(curriDetail)}">
																<tr th:each="curri, curriStat : ${curriDetail}">
																	<td th:text="${curri.curriculum_content}"></td>
																	<td th:text="${curri.curriculum_max_score}+'점'"></td>
																	<td th:text="${curri.curriculum_ratio}+'%'"></td>
																</tr>
															</th:block>
														</tbody>
													</table>
												</div>
										
									</div>
									<div class="row">
										<div class="col d-flex justify-content-start">
											<button type="button" class="btn btn-outline-secondary m-1" 
					                            onclick="location.href='/student/subject'">목록</button>
										</div>
										<div class="col d-flex justify-content-end align-items-center">
											<a th:onclick="subjectDelete([[${subjectDetail.subject_no}]])" class="btn waves-effect waves-light btn-light m-1">삭제</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer text-center text-muted"> All Rights Reserved by Adminmart. Designed by DBDevDeep and Developed by WrapPixel.</footer>
		</div>
		<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
		<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
		<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/dist/js/app-style-switcher.js"></script>
		<script src="/dist/js/feather.min.js"></script>
		<script
			src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
		<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
		<script src="/dist/js/sidebarmenu.js"></script>
		<script src="/dist/js/custom.min.js"></script>
		<script
			src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
		<script>
			const subjectDelete = function(subjectNo){
				if(confirm("정말 삭제하시겠습니까?")){
					const csrfToken = document.getElementById('csrf_token').value;
					 fetch('/subject/'+subjectNo,{
						 method : 'delete',
						 headers : {
								'X-CSRF-TOKEN':csrfToken}
					 })
					 .then(response => response.json())
					 .then(data => {
						 if(data.res_code == '200'){
								Swal.fire({
									icon :'success',
									title:'성공',
									text : data.res_msg ,
				                    confirmButtonText: '확인',
				                    customClass: {
				                        confirmButton: 'swal-custom-button'
				                    }
								}).then((result)=>{
									location.href="/student/subject";
								});
							} else{
								Swal.fire({
									icon:'error',
									title:'실패',
									text: data.res_msg,
				                    confirmButtonText: '확인',
				                    customClass: {
				                        confirmButton: 'swal-custom-button'
				                    }
						 		});
							}
						})
				}}
		</script>
	</body>
</html>