<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/student_layout}">
<head>
	<link href="/dist/css/style.min.css" rel="stylesheet">

<style>
	.custom-cancel-button{
		color: black !important;
	}
	
	.swal-custom-button {
	  background-color: #0031AE !important;
	  color: white; /* 버튼 텍스트 색상 */
	  border: none; /* 버튼 테두리 제거 */
	  padding: 10px 20px; /* 버튼 패딩 */
	  font-size: 16px; /* 버튼 폰트 크기 */
	  cursor: pointer; /* 마우스 커서 포인터 */
	}
	
	.swal-custom-button:hover {
	  background-color: #002685 !important;
	}
	.addPic {
	background-color: gainsboro;
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 50%;
	border: none;
	font-size: 25px;
	}
	
	.addPic, .littleButton {
		transition: background-color 0.3s ease;
	}
	
	.addPic:hover, .littleButton:hover {
		background-color: rgb(189, 189, 189);
		cursor: pointer;
	}
	
	.littleButton {
		background-color: gainsboro;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		border: none;
		font-size: 15px;
		text-align: center;
		position: relative;
		bottom: 35px;
		left: 85px;
	}
	
	.preview-container {
		border-radius: 50%;
		overflow: hidden;
		width: 100%;
		aspect-ratio: 1/1;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid lightgray;
	}
	
	#imagePreview {
		width: 100%;
		aspect-ratio: 1/1;
		object-fit: cover;
	}
	
	.hidden {
		display: none;
	}
</style>
</head>
<th:block layout:fragment="content">
<body>
<div class="page-wrapper">
		<div class="container-fluid">
			<div class="col-sm-12 col-md-12">
				<div class="card">
					<div class="card-body" style="padding: 50px 80px;">
						<div class="col d-flex justify-content-start align-items-center" style="padding-left: 0px; max-width: 300px;">
							<div style="font-size: 30px; color:black;">과목 정보 등록</div>
						</div>
						<hr>
						<form id="subject_create_form" method="post">
							<input type="hidden" id="csrf_token" th:value="${_csrf.token}">
							<div class="form-body">
								<div class="row">
									<div class="col-md-1 "></div>

									<div class="col-md-9 m-auto">
									
										<div class="form-group">
											<label for="name">과목명 <span style="color: red;">*</span></label>
											<div class="row">
												<div class="col-md-8">
													<input class="form-control" type="text" id="name" name="subject_name" placeholder="과목명을 입력하세요.">
												</div>
											</div>
										</div>

										<div class="form-group">
											<label for="subject_semester">학기 <span style="color: red;">*</span></label>
											<div class="row">
												<div class="col-md-8">
													<select class="form-control" id="subject_semester" name="subject_semester">
								                        <option value="" disabled selected>학기를 선택하세요</option>
								                		<option value="1">1학기</option>
								                		<option value="2">2학기</option>
									                </select>
												</div>
											</div>
										</div>
										
										
										<!-- 수업 시간 정보 -->
										<div id="class-time-container" class="form-group">
											<label class="col-md-3">요일</label>
											<label class="col-md-5">교시</label>
											<div class="class-time-row">
											<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
												<div class="col-md-3">
													<select class="form-control" name="timeTable[0].day">
						                				<option value="" disabled selected>요일을 선택하세요.</option>
								                        <option value="월">월</option>
								                        <option value="화">화</option>
								                        <option value="수">수</option>
								                        <option value="목">목</option>
								                        <option value="금">금</option>
								                    </select>
												</div>
												<div class="col-md-5">
								                    <select class="form-control" name="timeTable[0].period">
								                    	<option value="" disabled selected>교시를 선택하세요.</option>
								                    	<option value="1">1교시</option>
								                    	<option value="2">2교시</option>
								                    	<option value="3">3교시</option>
								                    	<option value="4">4교시</option>
								                    	<option value="5">5교시</option>
								                    	<option value="6">6교시</option>
								                    </select>
												</div>
												<div class="col-md-1">
		                    						<input type="button" id="student_location" onclick="addClassTime()" value="+" class="btn waves-effect waves-light btn-primary">
												</div>
											</div>
											</div>
										</div>
										
										<!-- 평가 과정 정보 -->
										<div id="evaluation-container" class="form-group">
											<label class="col-md-4">평가 과정</label>
						                    <label class="col-md-2">반영 비율</label>
						                    <label class="col-md-2">만점</label>
						                    <div class="evaluation-row">
											<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
												<div class="col-md-4">
					                    			<input type="text" class="form-control" name="curriculum[0].curriculum_content" placeholder="평가 과정명"/>
												</div>
												<div class="col-md-2">
								                    <input type="text" class="form-control" name="curriculum[0].curriculum_ratio" placeholder="%"/>
												</div>
												<div class="col-md-2">
								                    <input type="text" class="form-control" name="curriculum[0].curriculum_max_score"/>
												</div>
												<div class="col-md-1">
		                    						<input type="button" id="student_location" onclick="addEvaluation()" value="+" class="btn waves-effect waves-light btn-primary">
												</div>
											</div>
											</div>
										</div>	
										
										
										
										<div class="form-group">
											<div class="row">
												<div class="col-md-9">
													<div class="d-flex justify-content-end">
														<input type="button" onclick="cancelBtn();" class="btn waves-effect waves-light btn-light m-1" value="취소">
														<input type="submit" class="btn waves-effect waves-light btn-primary m-1" value="등록"> 
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<footer class="footer text-center text-muted"> All Rights Reserved by Adminmart. Designed by DBDevDeep and Developed by WrapPixel.</footer>
		</div>
	</div>
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/dist/js/app-style-switcher.js"></script>
	<script src="/dist/js/feather.min.js"></script>
	<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
	<script src="/dist/js/sidebarmenu.js"></script>
	<script src="/dist/js/custom.min.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
        // 수업 시간 필드 추가
        function addClassTime() {
            const classTimeContainer = document.getElementById("class-time-container");
            const classTimeIndex = document.querySelectorAll(".class-time-row").length;

            const newClassTime = `
            	<div class="class-time-row">
				<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
					<div class="col-md-3">
						<select class="form-control" name="timeTable[${classTimeIndex}].day">
            				<option value="" disabled selected>요일을 선택하세요.</option>
	                        <option value="월">월</option>
	                        <option value="화">화</option>
	                        <option value="수">수</option>
	                        <option value="목">목</option>
	                        <option value="금">금</option>
	                    </select>
					</div>
					<div class="col-md-5">
	                    <select class="form-control" name="timeTable[${classTimeIndex}].period">
	                    	<option value="" disabled selected>교시를 선택하세요.</option>
	                    	<option value="1">1교시</option>
	                    	<option value="2">2교시</option>
	                    	<option value="3">3교시</option>
	                    	<option value="4">4교시</option>
	                    	<option value="5">5교시</option>
	                    	<option value="6">6교시</option>
	                    </select>
					</div>
					<div class="col-md-1">
						<input type="button" id="student_location" onclick="removeElement(this)" value="삭제" class="btn waves-effect waves-light btn-primary">
					</div>
				</div>
				</div>
            `;

            classTimeContainer.insertAdjacentHTML('beforeend', newClassTime);
        }

        // 평가 항목 필드 추가
        function addEvaluation() {
            const evaluationContainer = document.getElementById("evaluation-container");
            const evaluationIndex = document.querySelectorAll(".evaluation-row").length;

            const newEvaluation = `
            	<div class="evaluation-row">
            	<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
					<div class="col-md-4">
	        			<input type="text" class="form-control" name="curriculum[${evaluationIndex}].curriculum_content" placeholder="평가 과정명"/>
					</div>
					<div class="col-md-2">
	                    <input type="text" class="form-control" name="curriculum[${evaluationIndex}].curriculum_ratio" placeholder="%"/>
					</div>
					<div class="col-md-2">
	                    <input type="text" class="form-control" name="curriculum[${evaluationIndex}].curriculum_max_score"/>
					</div>
					<div class="col-md-1">
						<button type="button" onclick="removeElement(this)" class="btn waves-effect waves-light btn-primary">삭제</button>
					</div>
				</div>
				</div>
            `;

            evaluationContainer.insertAdjacentHTML('beforeend', newEvaluation);
        }

        // 삭제 버튼 기능
        function removeElement(button) {
        	const row = button.closest('.row');  // 버튼이 속한 가장 가까운 row 요소를 찾음
            row.remove();  // row 전체를 삭제
        }
    </script>
	<script>
	    const form = document.getElementById("subject_create_form");
	    form.addEventListener('submit', (e) => {
	        e.preventDefault();
	        let vali_check = true;
	        let vali_text = "";

	        // 과목명 및 학기 유효성 검사
	        if(form.subject_name.value == ""){
	            vali_text += "과목 이름을 입력하세요.\n";
	            form.subject_name.focus();
	            vali_check = false;
	        } else if(form.subject_semester.value == ''){
	            vali_text += "학기를 선택하세요.\n";
	            form.subject_semester.focus();
	            vali_check = false;
	        }

			
			
	        // 과목명 및 학기 데이터 가져오기
	        const subjectName = document.getElementById("name").value;
	        const subjectSemester = document.getElementById("subject_semester").value;
	
	        // 수업 시간 데이터 가져오기
	        const timeTable = [];
	        document.querySelectorAll('.class-time-row').forEach((row, index) => {
	        	const dayElement = row.querySelector(`select[name="timeTable[${index}].day"]`);
	            const periodElement = row.querySelector(`select[name="timeTable[${index}].period"]`);

	            if (dayElement && periodElement) {
	                const day = dayElement.value;
	                const period = periodElement.value;
	               
	                
	                if ((day && !period) || (!day && period)) {
	                    vali_text += "요일과 교시는 모두 입력해야 합니다.\n";
	                    vali_check = false;
	                }

	                if (day && period) {
	                    timeTable.push({ day, period });
	                }
	            } else {
	                console.error("해당 row에서 day 또는 period 요소를 찾을 수 없습니다.");
	                vali_check = false;
	            }
	        });
	        
	        
	
	        // 평가 과정 데이터 가져오기
	        const curriculum = [];
	        document.querySelectorAll('.evaluation-row').forEach((row, index) => {
	            const curriculum_content = row.querySelector(`input[name="curriculum[${index}].curriculum_content"]`).value;
	            const curriculum_ratio = row.querySelector(`input[name="curriculum[${index}].curriculum_ratio"]`).value.replace('%', '');
	            const curriculum_max_score = row.querySelector(`input[name="curriculum[${index}].curriculum_max_score"]`).value;
	            
	            const allEmpty = !curriculum_content && !curriculum_ratio && !curriculum_max_score;
	            const allFilled = curriculum_content && curriculum_ratio && curriculum_max_score;

	            if (!allEmpty && !allFilled) {
	                vali_text += "평가 과정, 반영 비율, 만점은 모두 입력하거나 모두 비워두세요.";
	                vali_check = false;
	            }
	            
	            if (curriculum_content && curriculum_ratio && curriculum_max_score) {
	                curriculum.push({ curriculum_content, curriculum_ratio, curriculum_max_score });
	            }
	        });
	        
	        
	        // JSON 형식으로 데이터 구성
	        const requestData = {
	            sdto: {
	                subject_name: subjectName,
	                subject_semester: subjectSemester
	            },
	            cdtoList: curriculum,
	            tdtoList: timeTable
	        };
	        if(vali_check == false){
				alert(vali_text);
			}else{
	        const csrfToken = document.getElementById('csrf_token').value;
	        // JSON 데이터를 사용하여 fetch 요청 보내기
	        fetch('/subject', {
	            method: 'post',
	            headers: {
	                'Content-Type': 'application/json',
	                'X-CSRF-TOKEN': csrfToken
	            },
	            body: JSON.stringify(requestData)  // JSON으로 변환
	        })
	        .then(response => response.json())
	        .then(data => {
	            if (data.res_code === '200') {
	                Swal.fire({
	                    icon: 'success',
	                    title: '성공',
	                    text: data.res_msg,
	                    confirmButtonText: '확인',
	                    customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
	                }).then((result) => {
	                    location.href = "/student/subject";
	                });
	            } else {
	                Swal.fire({
	                    icon: 'error',
	                    title: '실패',
	                    text: data.res_msg,
	                    confirmButtonText: '확인',
	                    customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
	                });
	            }
	        })
	        .catch(error => {
	            console.error('Error:', error);
	        });
			}
	    });
	</script>
	<script>
	  	const cancelBtn = () => {
	  		window.location.href = '/student/subject';
	  	}
	</script>
</body>

</html>