<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/error_layout}">
<th:block layout:fragment="content">
	<style>
		.container {
			padding-top: 200px;
		}
	</style>
	<body class="vh-100">
		<div class="container">
			<div class="text-center align-items-center justify-content-center">
				<img src="/assets/images/error-message.png" alt="오류 이미지" class="image" width="20%">
				<br><br>
				<h1 class="display-4" th:text="${code + ' 예상치 못한 오류가 발생했습니다. 나중에 다시 시도해 주세요.'}"></h1>
				<p class="lead">죄송합니다. 요청하신 페이지를 찾을 수 없습니다.</p>
				<a href="/" class="btn btn-info">홈으로</a>
			</div>
		</div>
	</body>
</th:block>
</html>