<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/home_layout}">
<th:block layout:fragment="content">
	<style>
.content {
	display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; -webkit-line-clamp: 1; /* 최대 줄 수 */ text-overflow: ellipsis; /* '...' 표시 */ white-space: normal; /* 줄바꿈 허용 */
}
.weather_pic_div {
	width: 80px; height: 80px; background-size: cover;
}
</style>
	<div class="page-wrapper">
		<div class="container-fluid">
			<div class="row">

				<div class="col-lg-3 col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="d-flex d-lg-flex d-md-block align-items-center" style="height: 24px;">
								<h4 class="card-title" style="margin: 0px;">전자결재</h4>

							</div>
							<hr>
							<div id="" class="mt-2" style="height: 28.5vh; width: 100%;"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="d-flex d-lg-flex d-md-block align-items-center" style="height: 24px;">
								<h4 class="card-title" style="margin: 0px;">캘린더</h4>
							</div>
							<hr>
							<div id="" class="mt-2" style="height: 28.5vh; width: 100%;"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="d-flex d-lg-flex d-md-block align-items-center" style="height: 24px;">
								<h4 class="card-title" style="margin: 0px;">오늘의 날씨</h4>
							</div>
							<hr>
							<div id="" class="row" style="height: 28.5vh; width: 100%; margin-left: 4px;">
								<div class="col-lg-12 col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-12 d-flex" style="justify-content: center; align-items: center; ">
												<div th:if="${resultMap.PTY == '0' && resultMap.WSD == '0' && resultMap.SKY == '1'}" class="weather_pic_div" style="background-image: url('/assets/images/weather/icon-sun.png');"></div>
												<div th:if="${resultMap.PTY == '0' && resultMap.WSD == '0' && resultMap.SKY == '3'}" class="weather_pic_div" style="background-image: url('/assets/images/weather/icon-sun-cloud.png');"></div>
												<div th:if="${resultMap.PTY == '0' && resultMap.WSD == '0' && resultMap.SKY == '4'}" class="weather_pic_div" style="background-image: url('/assets/images/weather/icon-cloud.png');"></div>
												<div th:if="${resultMap.PTY == '0' && (resultMap.WSD == '1' || resultMap.WSD == '2' || resultMap.WSD == '3')}" class="weather_pic_div" style="background-image: url('/assets/images/weather/icon-wind.png');"></div>
												<div th:if="${(resultMap.PTY == '1' || resultMap.PTY == '2') && (resultMap.WSD == '0' || resultMap.WSD == '1')}" class="weather_pic_div" style="background-image: url('/assets/images/weather/icon-heavy-rain.png');"></div>
												<div th:if="${(resultMap.PTY == '1' || resultMap.PTY == '2') && (resultMap.WSD == '2' || resultMap.WSD == '3')}" class="weather_pic_div" style="background-image: url('/assets/images/weather/icon-wind-rain.png');"></div>
												<div th:if="${resultMap.PTY == '3'}" class="weather_pic_div" style="background-image: url('/assets/images/weather/icon-snow.png');"></div>
												<div th:if="${resultMap.PTY == '4'}" class="weather_pic_div" style="background-image: url('/assets/images/weather/icon-rain.png');"></div>
										</div>
										<div class="col-lg-6 col-md-12">
											<div>
												<div style="font-size: 30px;" th:text="${resultMap.TMP + ' ℃'}"></div>
												<div th:text="${'습도 ' + resultMap.REH + '%'}"></div>
												<div th:text="${'풍속 ' + resultMap.WSDV + 'm/s'}"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12">
									<div class="row">
										<div class="col-lg-6 col-md-12">
											<table style="width: 100%; background-color: #e8eaec; margin-bottom: 20px; border-radius: 2px;">
												<tr>
													<th style="padding: 6px; text-align: center;">최저기온</th>
												</tr>
												<tr>
													<td style="padding: 6px; text-align: center;" th:text="${resultMap.TMN + ' ℃'}"></td>
												</tr>
											</table>									
										</div>
										<div class="col-lg-6 col-md-12">
											<table style="width: 100%; background-color: #e8eaec; margin-bottom: 20px; border-radius: 2px;">
												<tr>
													<th style="padding: 6px; text-align: center;">강수확률</th>
												</tr>
												<tr>
													<td style="padding: 6px; text-align: center;" th:text="${resultMap.POP + ' %'}"></td>
												</tr>
											</table>
										</div>
										<div class="col-lg-6 col-md-12">
											<table style="width: 100%; background-color: #e8eaec;border-radius: 2px;">
												<tr>
													<th style="padding: 6px; text-align: center;">최고기온</th>
												</tr>
												<tr>
													<td style="padding: 6px; text-align: center;" th:text="${resultMap.TMX + ' ℃'}"></td>
												</tr>
											</table>
										</div>
										<div class="col-lg-6 col-md-12">
											<table style="width: 100%; background-color: #e8eaec; border-radius: 2px;">
												<tr>
													<th style="padding: 6px; text-align: center;">강수량</th>
												</tr>
												<tr>
													<td style="padding: 6px; text-align: center;" th:text="${resultMap.PCP == '강수없음'? resultMap.PCP : resultMap.PCP + 'mm'}"></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="d-flex d-lg-flex d-md-block align-items-center" style="height: 24px; margin-bottom: 1rem;">
								<h4 class="card-title" style="margin: 0px;">공지사항</h4>
								<div class="ml-auto">
									<a style="font-size: 14px; color: #7c8798; cursor: pointer;" onmouseover="this.style.color='black'; this.style.textDecoration='underline';" onmouseout="this.style.color='#7c8798'; this.style.textDecoration='none';">더보기</a>
								</div>
							</div>
							<div id="" class="" style="height: 28.5vh; width: 100%; margin-bottom: 1rem;">
								<table style="width: 100%" class="table">
									<colgroup>
										<col style="width: 20%">
										<col style="width: 60%">
										<col style="width: 20%">
									</colgroup>
									<tr>
										<td class="text-dark text-left">[사이트]</td>
										<td class="content text-dark text-left">그룹웨어 시스텝 점검 안내</td>
										<td class="text-dark text-right">2024.09.27</td>
									</tr>
									<tr>
										<td class="text-dark text-left">[공고]</td>
										<td class="content text-dark text-left">2024학년도 2학기 교직원 연수 안내</td>
										<td class="text-dark text-right">2024.09.26</td>
									</tr>
									<tr>
										<td class="text-dark text-left">[학사일정]</td>
										<td class="content text-dark text-left">2024학년도 2학기 운동회 일정 안내</td>
										<td class="text-dark text-right">2024.09.25</td>
									</tr>
									<tr>
										<td class="text-dark text-left">[학사일정]</td>
										<td class="content text-dark text-left ellipsis">2024학년도 2학기 방과후 프로그램 안내</td>
										<td class="text-dark text-right">2024.09.24</td>
									</tr>
									<tr>
										<td class="text-dark text-left">[학사일정]</td>
										<td class="content text-dark text-left ellipsis">2024학년도 2학기 방과후 프로그램 안내</td>
										<td class="text-dark text-right">2024.09.24</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="d-flex d-lg-flex d-md-block align-items-center" style="height: 24px;">
								<h4 class="card-title" style="margin: 0px;">문서</h4>
								<div class="ml-auto">
									<a style="font-size: 14px; color: #7c8798; cursor: pointer;" onmouseover="this.style.color='black'; this.style.textDecoration='underline';" onmouseout="this.style.color='#7c8798'; this.style.textDecoration='none';">더보기</a>
								</div>
							</div>
							<hr>
							<div id="" class="mt-2" style="height: 28.5vh; width: 100%;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer text-center text-muted">
			All Rights Reserved by Adminmart. Designed and Developed by <a href="">DBDevDeep</a>.
		</footer>
	</div>
	<script src="assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="dist/js/app-style-switcher.js"></script>
	<script src="dist/js/feather.min.js"></script>
	<script src="assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="dist/js/custom.min.js"></script>
	<!--This page JavaScript -->
	<script src="assets/extra-libs/c3/d3.min.js"></script>
	<script src="assets/extra-libs/c3/c3.min.js"></script>
	<script src="assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
</th:block>
</body>

</html>