<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/home_layout}">
     <th:block layout:fragment="content">
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                            	<div class="d-flex d-lg-flex d-md-block align-items-center">
	                                <h3 class="card-title" style="margin: 0px;">공지사항</h3>
	                                <div class="ml-auto"><a style="font-size: 21px;">+</a></div>                            	
                            	</div>
                                <hr>
                                <div id="" class="mt-2" style="height:27vh; width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
	                                <h3 class="card-title" style="margin: 0px;">전자결재</h3>
	                                <div class="ml-auto"><a style="font-size: 21px;">+</a></div>                            	
                            	</div>
                                <hr>
                                <div id="" class="mt-2" style="height:27vh; width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
	                                <h3 class="card-title" style="margin: 0px;">캘린더</h3>
	                                <div class="ml-auto"><a style="font-size: 21px;">+</a></div>                            	
                            	</div>
                                <hr>
                                <div id="" class="mt-2" style="height:27vh; width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
	                                <h3 class="card-title" style="margin: 0px;">오늘의 날씨</h3>
	                                <div class="ml-auto"><a style="font-size: 21px;">+</a></div>                            	
                            	</div>
                                <hr>
                                <div id="" class="mt-2" style="height:27vh; width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
	                                <h3 class="card-title" style="margin: 0px;">자원 예약 현황</h3>
	                                <div class="ml-auto"><a style="font-size: 21px;">+</a></div>                            	
                            	</div>
                                <hr>
                                <div id="" class="mt-2" style="height:27vh; width:100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex d-lg-flex d-md-block align-items-center">
	                                <h3 class="card-title" style="margin: 0px;">문서</h3>
	                                <div class="ml-auto"><a style="font-size: 21px;">+</a></div>                            	
                            	</div>
                                <hr>
                                <div id="" class="mt-2" style="height:27vh; width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center text-muted">
                All Rights Reserved by Adminmart. Designed and Developed by <a
                    href="">DBDevDeep</a>.
            </footer>
        </div>
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="/dist/js/app-style-switcher.js"></script>
    <!-- <script src="/dist/js/feather.min.js"></script> -->
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <!-- <script src="/dist/js/custom.min.js"></script> -->
    <!--This page JavaScript -->
    <script src="/assets/extra-libs/c3/d3.min.js"></script>
    <script src="/assets/extra-libs/c3/c3.min.js"></script>
    <script src="/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
    </th:block>
</body>

</html>