<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="approveNavLayout">
	<style>
		.sidebar-nav {
		    padding-top: 10px !important;
		}
	</style>
	<script>
        document.addEventListener("DOMContentLoaded", function() {
            // 현재 페이지 URL 가져오기
            const currentUrl = window.location.pathname;


            // 사이드바 내비게이션 항목을 선택
            const navItems = document.querySelectorAll('.sidebar-item a');
            navItems.forEach(item => {
                // 링크의 href 속성과 현재 URL을 비교
                if (currentUrl.includes(item.getAttribute('href'))) {
                		const gGrandLi = item.parentNode.parentNode.parentNode;
                		const grandA = gGrandLi.querySelector('a');
                		const grandUi = gGrandLi.querySelector('ul');
                		const parentLi = item.parentNode;
                		
	                    gGrandLi.classList.add('selected');
	                    grandA.classList.add('active');
	                    grandUi.classList.add('in', 'collapse');
	                    parentLi.classList.add('active');
	                    item.classList.add('active');
	                    
	                    const completeReportLink = document.querySelector('a.sidebar-link[href="/completeDocu"]');
	                    
	                    if(completeReportLink == item) {
	                    	item.classList.add('active');
	                    	parentLi.classList.add('selected');
	                    } 
                }
            });
        });
    </script>
	 <aside class="left-sidebar" data-sidebarbg="skin6">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <style>
        </style>
        <nav class="sidebar-nav">
          <ul id="sidebarnav">

            <li class="sidebar-item"> <a class="sidebar-link has-arrow active" href="javascript:void(0)"
                aria-expanded="false"><span class="hide-menu">휴가 관리</span></a>
              <ul aria-expanded="false" class="collapse  first-level base-level-line">
                <li class="sidebar-item"><a th:href="@{/approves}" class="sidebar-link"><span class="hide-menu"> 보낸 결재함
                    </span></a>
                </li>
                <li class="sidebar-item"><a th:href="@{/comeApprove}" class="sidebar-link"><span class="hide-menu"> 받은 결재함
                    </span></a>
                </li>
                <li class="sidebar-item"><a th:href="@{/refApprove}" class="sidebar-link"><span class="hide-menu"> 참조 문서함
                    </span></a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                aria-expanded="false"><span class="hide-menu">보고서 관리</span></a>
              <ul aria-expanded="false" class="collapse  first-level base-level-line">
                <li class="sidebar-item"><a th:href="@{/approveDocu}" class="sidebar-link"><span class="hide-menu"> 보낸 결재함
                    </span></a>
                </li>
                <li class="sidebar-item"><a th:href="@{/comeDocu}" class="sidebar-link"><span class="hide-menu"> 받은 결재함
                    </span></a>
                </li>
                <li class="sidebar-item"><a th:href="@{/approvedraft}" class="sidebar-link"><span class="hide-menu"> 임시 보관함
                    </span></a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item">
						<a class="sidebar-link" th:href="@{/completeDocu}" aria-expanded="false"> 
							<span class="hide-menu">완료 보고서</span>
						</a>
					</li>

          </ul>
        </nav>
      </div>
    </aside>
</th:block>
</html>