<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="employeeNavLayout">

	<script>
        document.addEventListener("DOMContentLoaded", function() {
            // 현재 페이지 URL 가져오기
            const currentUrl = window.location.pathname;


            // 사이드바 내비게이션 항목을 선택
            const navItems = document.querySelectorAll('.sidebar-item a');
            navItems.forEach(item => {
                // 링크의 href 속성과 현재 URL을 비교
                if (currentUrl.includes(item.getAttribute('href'))) {
                		const gGrandLi = item.parentNode.parentNode.parentNode;
                		const grandA = gGrandLi.querySelector('a');
                		const grandUi = gGrandLi.querySelector('ul');
                		const parentLi = item.parentNode;
                		
                    gGrandLi.classList.add('selected');
                    grandA.classList.add('active');
                    grandUi.classList.add('in', 'collapse');
                    parentLi.classList.add('active');
                    item.classList.add('active');
                }
            });
        });
    </script>
    
	<style>
		.sidebar-nav {
		    padding-top: 10px !important;
		}
	</style>
	
	<aside class="left-sidebar" data-sidebarbg="skin6">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar" data-sidebarbg="skin6">
			<!-- Sidebar navigation-->

			<nav class="sidebar-nav">
				<ul id="sidebarnav">
				
					<!-- 직원 Nav -->
					<li class="sidebar-item">
						<a class="sidebar-link has-arrow active" href="javascript:void(0)" aria-expanded="false"> 
							<span class="hide-menu">직원</span>
						</a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line" >
							<li class="sidebar-item">
								<a th:href="@{/employee/list}" class="sidebar-link">
									<span class="hide-menu"> 직원목록 </span>
								</a>
							</li>
							<li class="sidebar-item">
								<a th:href="@{/employee/add}" class="sidebar-link">
									<span class="hide-menu"> 직원등록 </span>
								</a>
							</li>
						</ul>
					</li>
	
					<!-- 학생 정보 nav -->
					<li class="sidebar-item"> <a class="sidebar-link has-arrow" th:href="@{/student/list}"
		                aria-expanded="false"><span class="hide-menu">학생</span></a>
		              <ul aria-expanded="false" class="collapse  first-level base-level-line">
		              	<li class="sidebar-item"><a th:href="@{/employee/student/list}" class="sidebar-link"><span class="hide-menu"> 학생 목록
		                    </span></a>
		                </li>
		                <li class="sidebar-item"><a th:href="@{/employee/student/create}" class="sidebar-link"><span class="hide-menu"> 학생 등록
		                    </span></a>
		                </li>
		              </ul>
		            </li>
					
					<!-- 반 nav -->
					<li class="sidebar-item">
						<a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
							<span class="hide-menu">반</span>
						</a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line">
							<li class="sidebar-item">
								<a th:href="@{/grade-class}" class="sidebar-link">
									<span class="hide-menu"> 반 목록 </span>
								</a>
							</li>
						</ul>
					</li>
					
					
					
					<!-- 기록 Nav -->
					<li class="sidebar-item" >
						<a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
							<span class="hide-menu">기록</span>
						</a>
						<ul aria-expanded="false" class="collapse  first-level base-level-line">
							<li class="sidebar-item">
								<a th:href="@{/log/employee}" class="sidebar-link">
									<span class="hide-menu"> 사원정보 변경 기록 </span>
								</a>
							</li>
							<li class="sidebar-item">
								<a th:href="@{/log/transfer}" class="sidebar-link">
									<span class="hide-menu"> 전근 기록 </span>
								</a>
							</li>
							<li class="sidebar-item">
								<a th:href="@{/log/rest}" class="sidebar-link">
									<span class="hide-menu"> 휴직 기록 </span>
								</a>
							</li>
							<li class="sidebar-item">
								<a th:href="@{/log/leave}" class="sidebar-link">
									<span class="hide-menu"> 퇴직 기록 </span>
								</a>
							</li>
						</ul>
					</li>

				</ul>
			</nav>
			
				
		</div>
	</aside>
</th:block>
</html>