<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{include/approve_layout}">
     
 <head>
    <!-- This page plugin CSS -->
    <link th:href="@{/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">


</head>
<style>

.swal-custom-button:hover {
  background-color: #002685 !important;
}

.form-control{
		margin-left:0px !important;
	}

.justify-content-end{
		padding:0px !important;
	}
</style>

<th:block layout:fragment="content">

		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="col-sm-12 col-md-12">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">결재 상세</h3>
							<hr>
							
							
							<div class="container-fluid">
                				<div class="container">
                                	<form id="approReUpFrm">
                                    	<input type="hidden" id="csrf_token" th:value="${_csrf.token}">
                                    	<h2 class="text-center">휴가 신청서</h2>
										<br>
										<div style="display: flex; justify-content: flex-end; align-items: flex-start;">
										
										    <!-- 협의 영역 -->
										    <div th:if="${cDto != null and #lists.size(cDto) > 0}">
										        <table border="1" style="text-align: center; width: 120px;">
										            <tr>
										            <td rowspan="3">협의</td>
										                <th:block th:each="item : ${cDto}">
										                    <td th:text="${#strings.contains(item.appro_line_name, ' ') ? item.appro_line_name.split(' ')[0] : '직원'}"></td>
										                </th:block>
										            </tr>
										            <tr>
										                <th:block th:each="item : ${cDto}">
										                    <td th:text="${#strings.contains(item.appro_line_name, ' ') ? item.appro_line_name.split(' ')[1] : item.appro_line_name}"></td>
										                </th:block>
										            </tr>
										            <tr>
										                <th:block th:each="item : ${cDto}">
										                <td>
										                    <span th:if="${item.appro_line_sign == '반려'}" style="color: red;">반려</span>
										                    <span th:if="${item.appro_line_sign != null and item.appro_line_sign != '' and item.appro_line_sign != '반려'}">
										                        <img th:src="@{'/signatures/' + ${item.appro_line_sign}}" alt="서명 이미지" style="max-width: 100px; max-height: 50px;"/>
										                    </span>
										                    <span th:if="${item.appro_line_sign == null or item.appro_line_sign == ''}">-</span>
										                </td>
										            </th:block>
										            </tr>
										        </table>
										    </div>
										    <div>
										    	<table>
										    	<tr><td></td><td></td><td></td><td></td></tr>
										    	</table>
										    </div>
										    <!-- 결재 영역 -->
										    <div>
										        <table border="1" style="text-align: center; width: 250px;">
										            <tr>
										            <td rowspan="3">결재</td>
										                <th:block th:each="item : ${lDto}">
										                    <td th:text="${#strings.contains(item.appro_line_name, ' ') ? item.appro_line_name.split(' ')[0] : '직원'}"></td>
										                </th:block>
										            </tr>
										            
										            <tr>
										                <th:block th:each="item : ${lDto}">
										                    <td th:text="${#strings.contains(item.appro_line_name, ' ') ? item.appro_line_name.split(' ')[1] : item.appro_line_name}"></td>
										                </th:block>
										            </tr>
										
										            <tr>
										                <th:block th:each="item : ${lDto}">
										                <td>
										                    <span th:if="${item.appro_line_sign == '반려'}" style="color: red;">반려</span>
										                    <span th:if="${item.appro_line_sign != null and item.appro_line_sign != '' and item.appro_line_sign != '반려'}">
										                        <img th:src="@{'/signatures/' + ${item.appro_line_sign}}" alt="서명 이미지" style="max-width: 100px; max-height: 50px;"/>
										                    </span>
										                    <span th:if="${item.appro_line_sign == null or item.appro_line_sign == ''}">-</span>
										                </td>
										            </th:block>
										            </tr>
										        </table>
										    </div>
										</div>
										<br>
                                    
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>성명</td>
                                                <td>
                                                <input type="text" th:value="${aDto.appro_name}" readonly style="border: 0; outline: none;">
                                                </td>
                                                <td>부서</td>
                                                <td>
                                                    <span th:text="${aDto.dept_code == 'D1' ? '교장' :
			                                                    		aDto.dept_code == 'D2' ? '교감'	:
			                                                    		aDto.dept_code == 'D3' ? '행정부' : '교무부'}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>직원번호</td>
                                                <td>
                                                <span th:text="${aDto.emp_id}"></span>
                                                </td>
                                                <td>기안일</td>
                                                <td><span th:text="${#temporals.format(aDto.appro_time, 'yyyy.MM.dd HH:mm')}"></span></td>
                                                <!-- <td>직급</td>
                                                <td>
                                                    <input type="text" name="job_name_display" 
                                                           th:value="${aDto.job_code == 'J1' ? '교장' : 
                                                                       aDto.job_code == 'J2' ? '교감' :
                                                                       aDto.job_code == 'J3' ? '부장' : '직원'}"
                                                           readonly style="border: 0; outline: none;">
                                                    <input type="hidden" id="jobCode" name="job_code" th:value="${aDto.job_code}">
                                                </td> -->
                                            </tr>
                                            <tr>
                                                <td>제목</td>
                                                <td>
                                                <input type="hidden" id="appro_title" name="appro_title" class="form-control" th:value="${aDto.appro_title}">
                                                <span th:text="${aDto.appro_title}"></span>
                                                </td>
                                                <td>결재 상태</td>
                                                <td>
                                                <input type="hidden" id="appro_status" name="appro_status" class="form-control" 
                                                            th:value="${aDto.appro_status == 0 ? '결재진행중' :
                                                                        aDto.appro_status == 1 ? '승인' : '반려'}">
                                                 <span th:text="${aDto.appro_status == 0 ? '결제진행중' : 
                                                 				aDto.appro_status == 1 ? '승인' : '반려'}"></span>
                                                 </td>
                                            </tr>
                                            <tr>
                                                <td>종류</td>
                                                <td>
                                                	<span th:text="${vDto.vac_type == 0 ? '연차' :
												                 vDto.vac_type == 1 ? '공가' :
												                 vDto.vac_type == 2 ? '병가' :
												                 vDto.vac_type == 3 ? '조퇴' :
												                 vDto.vac_type == 4 ? '경조사' :
												                 vDto.vac_type == 5 ? '출산휴가' :
												                 vDto.vac_type == 6 ? '오전반차' : 
												                 vDto.vac_type == 7 ? '오후반차' : ''}"></span>
                                                </td>
                                                <td>일정</td>
                                                <td>
                                                    <input type="hidden" id="start_date" class="form-control" name="start_date" th:value="${vDto.start_time}">
                                                    <input type="hidden" id="end_date" class="form-control" name="end_date" th:value="${vDto.end_time}">
                                                    <span th:text="${#temporals.format(vDto.start_time, 'yyyy.MM.dd HH:mm')}"></span>&nbsp;&nbsp;~&nbsp;&nbsp;
                                                    <span th:text="${#temporals.format(vDto.end_time, 'yyyy.MM.dd HH:mm')}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: middle;">신청사유</td>
                                                <td colspan="3"><textarea class="form-control" rows="10" style="resize: none; border: 0; outline: none; padding: 0; margin: 0;" name="appro_content" th:text="${aDto.appro_content}" readonly></textarea></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <div style="text-align: center;"><h4>상기와 같이 휴가를 신청하오니 검토 후 승인하여 주시기 바랍니다.</h4></div>
                                                    <br><br>
                                                    <h1 style="text-align: center;">물망초등학교</h1>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>반려사유</td>
                                                <td colspan="3">
											        <span th:if="${backReason != null}">
											            <span th:text="${backReason.appro_line_name+'('+backReason.emp_id+')'+'  -  '+ backReason.reason_back}"></span>
											        </span>
											        <span th:if="${backReason == null}"></span>
                                                </td>
                                            </tr>
								                <tr>
											    <td>협의자</td>
											    <td colspan="3">
											        <span th:if="${cDto != null}">
											            <th:block th:each="item, iterStat : ${cDto}">
											                <span th:text="${item.appro_line_name + ' (' + item.emp_id + ')'}"></span>
											                <span th:if="${!iterStat.last}"> > </span>
											            </th:block>
											        </span>
											    </td>
												</tr>
												<tr>
												    <td>결재자</td>
												    <td colspan="3">
												        <span th:if="${lDto != null}">
												            <th:block th:each="item, iterStat : ${lDto}">
												                <span th:text="${item.appro_line_name + ' (' + item.emp_id + ')'}"></span>
												                <span th:if="${!iterStat.last}"> > </span>
												            </th:block>
												        </span>
												    </td>
												</tr>
												<tr>
												    <td>참조자</td>
												    <td colspan="3">
												        <span th:if="${rDto != null}">
												            <th:block th:each="item, iterStat : ${rDto}">
												                <span th:text="${item.ref_name + ' (' + item.emp_id + ')'}"></span>
												                <span th:if="${!iterStat.last}"> > </span>
												            </th:block>
												        </span>
												    </td>
												</tr>
                                            <tr>  
                                                <td>첨부파일</td>
                                                <td colspan="3">
                                                	<input type="hidden" name="file_name" th:value="${fDto != null ? fDto.ori_file : ''}">
                                                	<a th:if="${fDto != null}" th:text="${fDto.ori_file}" th:href="@{/approDownload/{no}(no=${aDto.appro_no})}" style="text-decoration:underline;"></a>
    												<span th:if="${fDto == null}"></span>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="display: flex; justify-content: space-between; align-items: center;">
                                        <div class="text-center mt-3">
                                            <!-- 목록으로 이동 -->
                                            <input type="button" value="목록" th:onclick="'history.back()'" class="btn btn-outline-secondary m-1" >
                                        </div>
                                        <div style="display: flex; justify-content: flex-end; align-items: center;">
                                        <div class="text-center mt-3" 
										     th:if="${aDto.appro_status == 0} and (${aDto.emp_id} == ${#authentication.principal.dto.emp_id})">
										    <button type="button" class="btn waves-effect waves-light btn-light m-1" 
										            th:onclick="|approDelete(${aDto.appro_no})|">삭제</button>	
										    <button type="button" class="btn waves-effect waves-light btn-primary m-1" 
										            th:onclick="|location.href='/approve/update/' + ${aDto.appro_no}|">수정</button>
											</div>
										</div>
                                    </div>
                                </form>
                            </div>
				            </div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<footer class="footer text-center text-muted">
			All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
		</footer>
		
	</div>
	
	</div>
	
	
	
	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="/dist/js/app-style-switcher.js"></script>
	<script src="/dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="/dist/js/custom.min.js"></script>
	<script src="/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/dist/js/pages/datatable/datatable-basic.init.js"></script>
    <script>
    
    // 문서 삭제 
    const approDelete = function(approNo) {
    // 삭제 여부를 Swal로 물어봄
    Swal.fire({
        title: '정말 삭제하시겠습니까?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#0031AE',
	    cancelButtonColor: '#E8EAEC',
        confirmButtonText: '삭제',
        cancelButtonText: '취소',
        reverseButtons: true,
    }).then((result) => {
        if (result.isConfirmed) {
            const csrfToken = document.getElementById("csrf_token").value; // CSRF 토큰 가져오기

            fetch('/appro/' + approNo, {
                method: 'DELETE',
                headers: {
                    'X-CSRF-TOKEN': csrfToken // CSRF 토큰을 헤더에 추가
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.res_code === '200') {
                    // 삭제 성공 시 Swal로 성공 메시지 띄움
                    Swal.fire({
                        icon: 'success',
                        title: '삭제 완료',
                        text: data.res_msg,
                        confirmButtonColor: '#0031AE',  
                        confirmButtonText: '확인'
                    }).then(() => {
                        location.href = "/approve"; 
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '오류',
                        text: data.res_msg,
                        confirmButtonColor: '#0031AE',
                        confirmButtonText: '닫기'
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: '오류',
                    text: '삭제 중 문제가 발생했습니다.',
                    confirmButtonColor: '#0031AE',
                    confirmButtonText: '닫기'
                });
            });
        }
    });
}


	</script>
    	
</th:block>
</html>