<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dbdevdeep.place.mybatis.mapper.PlaceScheduleVoMapper">


	
	
	<!-- 일정 상세 조회를 위한 쿼리 -->
    <select id="selectScheduleDetail" parameterType="long" resultType="com.dbdevdeep.place.vo.PlaceItemScheduleVo">
        SELECT 
            ps.place_schedule_no AS placeScheduleNo,
            ps.place_schedule_title AS placeScheduleTitle,
            ps.place_schedule_content AS placeScheduleContent,
            ps.start_date AS startDate,
            ps.start_time AS startTime,
            ps.end_date AS endDate,
            ps.end_time AS endTime,
            p.place_name AS placeName,
            e.emp_name AS empName,
            i.item_name AS itemName,
            i.item_quantity AS itemQuantity
        FROM 
            place_item_schedule ps
        JOIN 
            place p ON ps.place_no = p.place_no
        JOIN 
            employee e ON ps.emp_id = e.emp_id
        JOIN 
            item i ON ps.item_no = i.item_no
        WHERE 
            ps.place_schedule_no = #{placeScheduleNo}
    </select>

	


     <!-- 전체 일정 조회 -->
    <select id="getTotalScheduleList"
            resultType="com.dbdevdeep.place.vo.PlaceItemScheduleVo">
           SELECT
            s.place_schedule_no AS place_schedule_no,
            s.place_no AS place_no,
            p.place_name AS place_name,
            s.item_no AS item_no,
            i.item_name AS item_name,
            i.item_quantity AS item_quantity,
            i.item_serial_no AS item_serial_no,
            s.teacher_no AS teacher_no,
            th.grade AS grade,
            th.grade_class AS gradeClass,
            th.t_year AS t_year,
            e.emp_id AS emp_id,
            e.emp_name AS emp_name,
            s.place_schedule_title AS place_schedule_title,
            s.place_schedule_content AS place_schedule_content,
            s.start_date AS start_date,
            s.end_date AS end_date,
            s.management_no AS management_no,
            s.start_time AS start_time,
            s.end_time AS end_time,
            s.reg_date AS reg_date,
            s.mod_date AS mod_date
        FROM
            place_item_schedule s
        JOIN
            place p ON s.place_no = p.place_no
        JOIN
            item i ON s.item_no = i.item_no
        JOIN
            employee e ON s.emp_id = e.emp_id
        JOIN
            teacher_history th ON s.teacher_no = th.teacher_no


	
</select>
</mapper>