<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/employee_layout}">
<th:block layout:fragment="content">
	<style>
	
		.swal-custom-button {
		  background-color: #0031AE !important;
		  color: white; /* 버튼 텍스트 색상 */
		  border: none; /* 버튼 테두리 제거 */
		  padding: 10px 20px; /* 버튼 패딩 */
		  font-size: 16px; /* 버튼 폰트 크기 */
		  cursor: pointer; /* 마우스 커서 포인터 */
		}
		.swal-custom-button:hover {
		  background-color: #002685 !important;
		}
		.preview-container {
			border-radius: 50%; overflow: hidden; width: 100%; aspect-ratio: 1/1; display: flex; align-items: center; justify-content: center;
		}
		
		#imagePreview {
			width: 80%; aspect-ratio: 1/1; object-fit: cover;
		}
		
		.hidden {
			display: none;
		}
		
		.centered-container {
			display: flex; justify-content: center; align-items: center;
		}
		
		input:read-only {
			border: none;
		}
		
		.tooltip-container {
			position: relative; display: inline-block;
		}
		
		.tooltip-trigger {
			padding: 10px; font-size: 16px;
		}
		
		.tooltip {
			visibility: hidden; width: 350px; border: 2px solid lightgray; color: black; text-align: center; border-radius: 6px; padding: 5px 10px; position: absolute; z-index: 1; bottom: 125%; /* 위치 조정 */ left: 50%; margin-left: -120px; /* 툴팁의 중앙 정렬을 위한 조정 */ opacity: 0; transition: opacity 0.3s; color: black
		}
		
		.tooltip::after {
			content: ""; position: absolute; top: 100%; /* 위치 조정 */ left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: lightgray transparent transparent transparent;
		}
		
		.tooltip-container:hover .tooltip {
			visibility: visible; opacity: 1;
		}
		
		th, td {
			 text-align: center;
		}
	</style>
	
	<style>
		/* datatable css */
		div.dataTables_wrapper div.dataTables_paginate ul.pagination {
			margin: 2px 0; white-space: nowrap; justify-content: center; margin-top: 8px;
		}
		/* a 태그 속성 제거 */
		a {
			text-decoration: none; /* 밑줄 제거 */ color: inherit; /* 기본 색상 제거, 부모 요소의 색상 사용 */ cursor: pointer; /* 커서 스타일 변경 */
		}
		/* a 태그 호버 시 스타일 */
		a:hover {
			text-decoration: none; /* 호버 시 밑줄 추가 */ color: inherit; /* 호버 시 색상 변경 */
		}
		
		/* 첫 번째 td를 수평 및 수직 가운데 정렬 */
		.bordered tbody tr td.align-center {
			text-align: center; /* 수평 가운데 정렬 */ vertical-align: middle; padding-bottom: 8px;
		}
		
		/* 정렬 아이콘의 위치 및 정렬 설정 */
		table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
			display: inline-block; /* 아이콘을 인라인 블록으로 설정 */ position: relative; /* 아이콘 위치를 텍스트 옆으로 설정 */ margin-left: 10px !important; /* 텍스트와 아이콘 사이의 간격을 조정 */ bottom: 0; /* 아이콘을 텍스트 높이에 맞추기 위해 위치 설정 */ opacity: 0.7; /* 아이콘의 불투명도 설정 */ content: ''; /* 정렬 아이콘을 CSS로 설정 */
		}
		
		table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
			content: "\25BC"; /* 아래쪽 화살표 */
		}
		
		/* 정렬 아이콘 활성화 시 스타일 */
		table.dataTable thead .sorting_asc:after {
			content: "\25B2"; /* 위쪽 삼각형 화살표 */
		}
		
		table.dataTable thead .sorting_desc:after {
			content: "\25BC"; /* 아래쪽 삼각형 화살표 */
		}
		
		.filter {
			border-collapse: separate; border-spacing: 0; width: 100%;
		}
		
		.pad {
			height: 5px; background: none;
		}
		
		.filter tr {
			background-color: #e9ecef; border-radius: 50px;
		}
		
		.filter td, th {
			padding: 8px;
		}
		
		.filter th {
			border-bottom-left-radius: 5px; border-top-left-radius: 5px; padding-left: 20px;
		}
		
		.filter td:last-child {
			border-bottom-right-radius: 5px; border-top-right-radius: 5px; padding-right: 20px;
		}
		
		.filter input[type="checkbox"] {
			border: 1px solid #e9ecef; width: 16px; height: 16px; margin: 0px 5px;
		}
		
		.filter label {
			display: flex; align-items: center; margin: 0px auto;
		}
		.table-hover tr:hover {
			cursor: pointer;
		}
	</style>
	<div class="page-wrapper">
		<div class="container-fluid">
			<div class="col-sm-12 col-md-12">
				<div class="card">
					<div class="card-body" style="padding: 50px 80px;">
						<div class="row" style="margin-left: 0px !important; margin-right: 0px !important; margin-bottom: 20px;">
							<div class="col d-flex justify-content-start align-items-center" style="padding-left: 0px; max-width: 240px;">
								<div style="font-size: 30px;">직원 상세 정보</div>
							</div>
						</div>

						<ul class="nav nav-tabs nav-bordered mb-3">
							<li class="nav-item"><a href="#employee_info" data-toggle="tab" aria-expanded="true" class="nav-link active"> <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i> <span class="d-none d-lg-block">직원정보</span>
							</a></li>
							<li class="nav-item"><a href="#class-history" data-toggle="tab" aria-expanded="false" class="nav-link"> <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i> <span class="d-none d-lg-block">학급이력</span>
							</a></li>
							<li class="nav-item"><a href="#employee-status" data-toggle="tab" aria-expanded="false" class="nav-link"> <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i> <span class="d-none d-lg-block">재직이력</span>
							</a></li>
							<li class="nav-item"><a href="#attendance" data-toggle="tab" aria-expanded="false" class="nav-link"> <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i> <span class="d-none d-lg-block">근태이력</span>
							</a></li>
							<li class="ml-auto">
								<div class="col d-flex justify-content-end">
									<button class="btn waves-effect waves-light btn-info" style="margin: 4px;" data-toggle="modal" data-target="#trans_modal">전근</button>
									<button class="btn waves-effect waves-light btn-info" style="margin: 4px;" data-toggle="modal" data-target="#rest_modal">휴직</button>
									<button class="btn waves-effect waves-light btn-info" style="margin: 4px;" data-toggle="modal" data-target="#leave_modal">퇴직</button>
								</div>
							</li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane show active" id="employee_info">
								<div class="form-body">
									<div class="row">
										<!-- 사진등록 -->
										<div class="col-md-2 " style="margin-left: 50px;">
											<div class="form-group" style="margin-top: 20px;">
												<div class="row">
													<div class="preview-container" id="preview-container">
														<img id="imagePreview" th:src="@{'/UploadImg/employee/' + ${empDto.new_pic_name}}" width="100px" style="border-radius: 50%; object-fit: cover; aspect-ratio: 1/1"  onerror="this.onerror=null; this.src='/assets/images/users/user-profile.png';">
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-9 m-auto">
											<div class="form-group" style="margin-top: 40px;">
												<div class="row">
													<div class="col-md-3">
														<label>직원번호</label> 
														<input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
													</div>
													<div class="col-md-3">
														<label>교육청관리번호</label> 
														<input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly><br>
													</div>
												</div>
											</div>


											<div class="form-group">
												<div class="row">
													<div class="col-md-3">
														<label>이름</label> <input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
														<div id="emp_name_feedback" class="mt-2"></div>
													</div>
													<div class="col-md-4">
														<label>주민등록번호</label> <input type="text" class="form-control" id="firstempRrn" placeholder="000101" th:value="${#strings.substring(empDto.emp_rrn, 0, 8) + '******'}" readonly maxlength="6"><br>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-md-3">
														<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
													</div>
													<div class="col-md-3">
														<label>직급</label> <input type="text" class="form-control" readonly th:value="${empDto.job_name}"><br>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-md-3">
														<label>우편번호</label> <input type="text" name="emp_post_code" class="form-control" id="sample6_postcode" placeholder="우편번호" th:value="${empDto.emp_post_code}" readonly>
													</div>
													<div class="col-md-8">
														<label>집 주소</label> <input type="text" name="emp_addr" class="form-control" id="sample6_address" placeholder="주소" th:value="${empDto.emp_addr + ' ' + empDto.emp_detail_addr}" readonly><br>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-md-3">
														<label>전화번호</label> <input type="text" id="empPhone" th:value="${empDto.emp_phone}" name="emp_phone" class="form-control" readonly>
													</div>
													<div class="col-md-3">
														<label>내선전화번호</label> <input type="text" class="form-control" id="emp_internal_phone" th:value="${empDto.emp_internal_phone}" readonly name="emp_internal_phone" placeholder="0000" maxlength="4"><br>
													</div>

												</div>
											</div>

											<div class="form-group">
												<label for="gov_id">비밀번호</label>
												<div class="row">
													<div class="col-md-2">
														<input type="text" class="form-control" id="emp_pw" name="emp_pw" value="****" placeholder="주민등록번호를 입력하세요" readonly>
													</div>
													<div class="col-4">
														<form id="resetPw">
															<input type="hidden" class="form-control" id="pw" name="emp_pw" th:value="${#strings.replace(empDto.emp_rrn, '-', '')}"> 
															<input type="hidden" class="form-control" id="empId" name="emp_id" th:value="${empDto.emp_id}">
															<input type="hidden" name="admin_id" th:value="${#authentication.principal.dto.emp_id}">
															<div class="tooltip-container">
																<button class="btn btn-info tooltip-trigger">비밀번호 초기화</button>
																<div class="tooltip">이 버튼을 클릭하면 해당 계정의 비밀번호가 주민등록번호로 초기화됩니다. 신중하게 클릭하세요.</div>
															</div>
														</form>
													</div>
												</div>
											</div>

											<div class="form-group">
												<label>입사일</label>
												<div class="row">
													<div class="col-md-8">
														<input type="date" class="form-control " id="hire_date" th:value="${empDto.hire_date}" readonly name="hire_date">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane" id="class-history">
								<div class="form-group">
									<div class="row">
										<div class="col-md-12" style="margin-top: 40px;">
											<div class="table-responsive">
												<table  class="table table-bordered no-wrap" style="width: 100%">
													<colgroup>
														<col style="width: 10%;">
														<col style="width: 30%;">
														<col style="width: 30%;">
														<col style="width: 30%;">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">번호</th>
															<th scope="col">학년도</th>
															<th scope="col">학년</th>
															<th scope="col">반</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.isEmpty(thDtoList)}">
															<tr>
																<td colspan="4">학급이력이 없습니다.</td>
															</tr>
														</th:block>
														<th:block th:if="${!#lists.isEmpty(thDtoList)}">
															<tr th:each="history, historyStat : ${thDtoList}">
																<td scope="row" th:text="${historyStat.count}"></td>
																<td th:text="${history.t_year}"></td>
																<td th:text="${history.grade}"></td>
																<td th:text="${history.grade_class}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="employee-status">
								<div class="form-group">
									<div class="row">
										<div class="col-md-12" style="margin-top: 40px;">
											<label>전근</label>
											<div class="table-responsive">
												<table class="table table-bordered no-wrap" style="width: 100%">
													<colgroup>
														<col style="width: 10%;">
														<col style="width: 30%;">
														<col style="width: 30%;">
														<col style="width: 30%;">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">번호</th>
															<th scope="col">전근학교번호</th>
															<th scope="col">전근일</th>
															<th scope="col">전근유형</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.isEmpty(tDtoList)}">
															<tr>
																<td colspan="4">전근이력이 없습니다.</td>
															</tr>
														</th:block>
														<th:block th:if="${!#lists.isEmpty(tDtoList)}">
															<tr th:each="history, historyStat : ${tDtoList}">
																<td scope="row" th:text="${historyStat.count}"></td>
																<td th:text="${history.trans_school_id}"></td>
																<td th:text="${history.trans_date}"></td>
																<td th:text="${history.trans_type == 'T' ? '전출' : history.trans_type == 'F' ? '전입' : '-'}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12" style="margin-top: 40px;">
											<label>휴직</label>
											<div class="table-responsive">
												<table class="table table-bordered no-wrap" style="width: 100%">
													<colgroup>
														<col style="width: 10%;">
														<col style="width: 20%;">
														<col style="width: 20%;">
														<col style="width: 20%;">
														<col style="width: 30%;">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">번호</th>
															<th scope="col">휴직일</th>
															<th scope="col">복귀예정일</th>
															<th scope="col">복귀일</th>
															<th scope="col">휴직사유</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.isEmpty(restDtoList)}">
															<tr>
																<td colspan="5">휴직이력이 없습니다.</td>
															</tr>
														</th:block>
														<th:block th:if="${!#lists.isEmpty(restDtoList)}">
															<tr th:each="history, historyStat : ${restDtoList}" 
																th:data-no="${history.status_no}"
																th:data-emp="${history.emp_id}"
																th:data-reason="${history.stop_reason}"
																th:data-stop="${history.stop_date}"
																th:data-excepted="${history.excepted_date}"
																th:data-return="${history.return_date}"
																th:data-status="${history.status_type}"
																class="rest_history"
																data-toggle="modal" 
																data-target="#return_modal">
																<td scope="row" th:text="${historyStat.count}"></td>
																<td th:text="${history.stop_date}"></td>
																<td th:text="${history.excepted_date}"></td>
																<td th:text="${history.return_date == null ? '-' : history.return_date}"></td>
																<td th:text="${history.stop_reason}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12" style="margin-top: 40px;">
											<label>퇴직</label>
											<div class="table-responsive">
												<table class="table table-bordered no-wrap" style="width: 100%">
													<colgroup>
														<col style="width: 10%;">
														<col style="width: 40%;">
														<col style="width: 50%;">
													</colgroup>
													<thead>
														<tr>
															<th scope="col">번호</th>
															<th scope="col">퇴직일</th>
															<th scope="col">퇴직사유</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.isEmpty(leaveDtoList)}">
															<tr>
																<td colspan="4">퇴직이력이 없습니다.</td>
															</tr>
														</th:block>
														<th:block th:if="${!#lists.isEmpty(leaveDtoList)}">
															<tr th:each="history, historyStat : ${leaveDtoList}">
																<td scope="row" th:text="${historyStat.count}"></td>
																<td th:text="${history.stop_date}"></td>
																<td th:text="${history.stop_reason}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="attendance">
								<div class="form-group">
									<div class="row">
										<div class="col-md-12" style="margin-top: 40px;">
											<div class="table-responsive">
												<table id="employee-attend" class="table table-hover table-bordered no-wrap" style="width: 100%">
													<thead>
														<tr>
															<th scope="col">번호</th>
															<th scope="col">근무일</th>
															<th scope="col">출근시간</th>
															<th scope="col">퇴근시간</th>
															<th scope="col">출근상태</th>
															<th scope="col">지각여부</th>
															<th scope="col">초과근무 합산</th>
														</tr>
													</thead>
													<tbody>
														<th:block th:if="${#lists.isEmpty(attendDtoList)}">
															<tr>
																<td colspan="7">근태이력이 없습니다.</td>
															</tr>
														</th:block>
														<th:block th:if="${!#lists.isEmpty(attendDtoList)}">
															<tr th:each="attend, attendStat : ${attendDtoList}"
																th:data-attendNo="${attend.attend_no}"
																th:data-attendDate="${attend.attend_date}"
																th:data-attendIn="${attend.check_in_time}"
																th:data-attendOut="${attend.check_out_time}"
																th:data-attendStatus="${attend.work_status}"
																th:data-attendLate="${attend.late_status}"
																th:data-attendOver="${attend.overtime_sum}"
																class="attend_history"
																data-toggle="modal" 
																data-target="#attend_modal">
																<td scope="row" th:text="${attendStat.count}"></td>
																<td th:text="${attend.attend_date}">d</td>
																<td th:text="${#temporals.format(attend.check_in_time, 'HH:mm:ss')}"></td>
																<!-- 퇴근시간 start -->
																<th:block th:if="${attend.check_in_time == attend.check_out_time}">
																	<th:block th:if="${now == attend.attend_date}">
																		<td>-</td>
																	</th:block>
																	<th:block th:unless="${now == attend.attend_date}">
																		<td>16:00:00</td>
																	</th:block>
																</th:block>
																<th:block th:unless="${attend.check_in_time == attend.check_out_time}">
																	<td th:text="${#temporals.format(attend.check_out_time, 'HH:mm:ss')}"></td>
																</th:block>
																<!-- 퇴근시간 end -->
																<td th:text="${attend.work_status == 0 ? '출근전' : 
																               attend.work_status == 1 ? '출근' : 
																               attend.work_status == 2 ? '퇴근' : 
																               attend.work_status == 3 ? '결근' : 
																               attend.work_status == 4 ? '연차' : 
																               attend.work_status == 5 ? '공가' : 
																               attend.work_status == 6 ? '병가' : 
																               attend.work_status == 7 ? '조퇴' : 
																               attend.work_status == 8 ? '경조사' : 
																               attend.work_status == 9 ? '출산휴가' : 
																               attend.work_status == 10 ? '반차' : ''}">
																</td>
																<td th:if="${attend.late_status == 'Y'}"><i class="fas fa-check"></i></td>
																<td th:unless="${attend.late_status == 'Y'}"></td>
																<td th:text="${attend.overtime_sum}"></td>
															</tr>
														</th:block>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}">
						<hr>
						<div class="row">
							<div class="col d-flex justify-content-start">
								<button type="button" class="btn waves-effect waves-light btn-outline-secondary" style="margin: 4px;" onclick="location.href='/employee/list';">목록</button>
							</div>
							<div class="col d-flex justify-content-end">
								<button class="btn waves-effect waves-light btn-info" style="margin: 4px;" id="editEmployee" onclick="editEmployee();">수정</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer text-center text-muted">
				All Rights Reserved by Adminmart. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
			</footer>
		</div>
	</div>

	<!-- 전근 모달창 -->
	<div id="trans_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-colored-header bg-info">
					<h4 class="modal-title" id="info-header-modalLabel">전근</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="col-12">

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>교육청관리번호</label> <input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly>
								</div>
								<div class="col-md-6">
									<label>재직상태</label> <input type="text" class="form-control" readonly th:value="${empDto.ent_status == 'Y' ? '재직' : 
										empDto.ent_status == 'N' ? '퇴직' : empDto.ent_status == 'R' ? '휴직' : 
										empDto.ent_status == 'L' ? '전근' : '-'}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="gov_id">이름</label> <input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
								</div>
								<div class="col-md-6">
									<label for="gov_id">직원번호</label> <input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
								</div>
								<div class="col-md-6">
									<label>직급</label> <input type="text" class="form-control" readonly th:value="${empDto.job_name}">
								</div>
							</div>
						</div>
					</div>
					<hr>
					<form class="pl-3 pr-3" id="transFrm">
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}"> 
						<input type="hidden" name="emp_id" th:value="${empDto.emp_id}"> 
						<input type="hidden" name="trans_type" value="T">
						<input type="hidden" name="admin_id" th:value="${#authentication.principal.dto.emp_id}">
						<div class="form-group">
							<label for="trans_date">전근일 <span style="color: red;">*</span></label> 
							<input type="date" class="form-control" id="trans_date" name="trans_date">
							<div id="trans_date_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="trans_school_id">전근 학교 코드 <span style="color: red;">*</span></label> 
							<input type="text" class="form-control" placeholder="전근갈 학교의 코드를 입력하세요." id="trans_school_id" name="trans_school_id" maxlength="7">
							<div id="trans_school_id_feedback" class="mt-2"></div>
						</div>
						<div class="col-12 d-flex justify-content-end">
							<button type="button" class="btn waves-effect waves-light btn-light m-1" data-dismiss="modal" aria-hidden="true">취소</button>
							<button type="submit" disabled="disabled" class="btn waves-effect waves-light btn-primary m-1" id="transBtn">전근</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->

	<!-- 휴직 모달창 -->
	<div id="rest_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-colored-header bg-info">
					<h4 class="modal-title" id="info-header-modalLabel">전근</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="col-12">

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>교육청관리번호</label> <input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly>
								</div>
								<div class="col-md-6">
									<label>재직상태</label> <input type="text" class="form-control" readonly th:value="${empDto.ent_status == 'Y' ? '재직' : 
										empDto.ent_status == 'N' ? '퇴직' : empDto.ent_status == 'R' ? '휴직' : 
										empDto.ent_status == 'L' ? '전근' : '-'}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="gov_id">이름</label> 
									<input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
								</div>
								<div class="col-md-6">
									<label for="gov_id">직원번호</label> 
									<input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
								</div>
								<div class="col-md-6">
									<label>직급</label> <input type="text" class="form-control" readonly th:value="${empDto.job_name}">
								</div>
							</div>
						</div>
					</div>
					<hr>

					<form class="pl-3 pr-3" id="restFrm">
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}"> 
						<input type="hidden" name="emp_id" th:value="${empDto.emp_id}"> 
						<input type="hidden" name="status_type" th:value="${'R'}">
						<input type="hidden" name="admin_id" th:value="${#authentication.principal.dto.emp_id}">

						<div class="form-group">
							<label for="stop_date">휴직일 <span style="color: red;">*</span></label> 
							<input type="date" class="form-control" id="stop_date" name="stop_date">
							<div id="stop_date_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="excepted_date">복귀예정일 <span style="color: red;">*</span></label> 
							<input type="date" class="form-control" id="excepted_date" name="excepted_date">
							<div id="excepted_date_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="stop_reason">휴직사유 <span style="color: red;">*</span></label> 
							<input type="text" class="form-control" placeholder="휴직 사유를 33자 이내로 입력하세요." id="stop_reason" name="stop_reason" maxlength="33">
							<div id="stop_reason_feedback" class="mt-2"></div>
						</div>
						<div class="col-12 d-flex justify-content-end">
							<button type="button" class="btn waves-effect waves-light btn-light m-1" data-dismiss="modal" aria-hidden="true">취소</button>
							<button type="submit" disabled="disabled" class="btn waves-effect waves-light btn-primary m-1" id="restBtn">휴직</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->
	
	<!-- 복직 모달창 -->
	<div id="return_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-colored-header bg-info">
					<h4 class="modal-title" id="info-header-modalLabel">전근</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="col-12">

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>교육청관리번호</label> 
									<input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly>
								</div>
								<div class="col-md-6">
									<label>재직상태</label> 
									<input type="text" class="form-control" readonly th:value="${empDto.ent_status == 'Y' ? '재직' : 
										empDto.ent_status == 'N' ? '퇴직' : empDto.ent_status == 'R' ? '휴직' : 
										empDto.ent_status == 'L' ? '전근' : '-'}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="gov_id">이름</label> 
									<input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
								</div>
								<div class="col-md-6">
									<label for="gov_id">직원번호</label> 
									<input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
								</div>
								<div class="col-md-6">
									<label>직급</label> <input type="text" class="form-control" readonly th:value="${empDto.job_name}">
								</div>
							</div>
						</div>
					</div>
					<hr>

					<form class="pl-3 pr-3" id="returnFrm">
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}"> 
						<input type="hidden" name="status_no" id="status_no"> 
						<input type="hidden" name="emp_id" th:value="${empDto.emp_id}">
						<input type="hidden" name="admin_id" th:value="${#authentication.principal.dto.emp_id}">
						<input type="hidden" name="status_type" th:value="${'R'}">
						
						<div class="form-group">
							<label for="stop_date">휴직일</label> 
							<input type="date" class="form-control" id="stop_date_r" name="stop_date" readonly>
							<div id="stop_date_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="excepted_date">복귀예정일</label> 
							<input type="date" class="form-control" id="excepted_date_r" name="excepted_date" readonly>
							<div id="excepted_date_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="stop_reason">휴직사유</label> 
							<input type="text" class="form-control" placeholder="휴직 사유를 33자 이내로 입력하세요." id="stop_reason_r" name="stop_reason" maxlength="33" readonly>
							<div id="stop_reason_feedback" class="mt-2"></div>
						</div>
						
						<div class="form-group">
							<label for="excepted_date">복귀일 <span style="color: red;">*</span></label> 
							<input type="date" class="form-control" id="return_date_r" name="return_date">
							<div id="excepted_date_feedback" class="mt-2"></div>
						</div>
						
						<div class="col-12 d-flex justify-content-end">
							<button type="button" class="btn waves-effect waves-light btn-light m-1" data-dismiss="modal" aria-hidden="true">취소</button>
							<button type="submit" disabled="disabled" class="btn waves-effect waves-light btn-primary m-1" id="returnBtn">복직</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->

	<!-- leave 모달창 -->
	<div id="leave_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-colored-header bg-info">
					<h4 class="modal-title" id="info-header-modalLabel">전근</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="col-12">

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>교육청관리번호</label> 
									<input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly>
								</div>
								<div class="col-md-6">
									<label>재직상태</label> 
									<input type="text" class="form-control" readonly th:value="${empDto.ent_status == 'Y' ? '재직' : 
										empDto.ent_status == 'N' ? '퇴직' : empDto.ent_status == 'R' ? '휴직' : 
										empDto.ent_status == 'L' ? '전근' : '-'}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="gov_id">이름</label> 
									<input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
								</div>
								<div class="col-md-6">
									<label for="gov_id">직원번호</label> 
									<input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
								</div>
								<div class="col-md-6">
									<label>직급</label> <input type="text" class="form-co
									ntrol" readonly th:value="${empDto.job_name}">
								</div>
							</div>
						</div>
					</div>
					<hr>
					<form class="pl-3 pr-3" id="leaveFrm">
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}"> 
						<input type="hidden" name="emp_id" th:value="${empDto.emp_id}">
						<input type="hidden" name="admin_id" th:value="${#authentication.principal.dto.emp_id}">
						<div class="form-group">
							<label for="stop_date_L">퇴직일 <span style="color: red;">*</span></label> 
							<input type="date" class="form-control" id="stop_date_L" name="stop_date">
							<div id="stop_date_L_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="stop_reason_L">퇴직 사유 <span style="color: red;">*</span></label> 
							<input type="text" class="form-control" placeholder="퇴직 사유를 33자 이내로 입력하세요." id="stop_reason_L" name="stop_reason" maxlength="33">
							<div id="stop_reason_L_feedback" class="mt-2"></div>
						</div>
						<div class="col-12 d-flex justify-content-end">
							<button type="button" class="btn waves-effect waves-light btn-light m-1" data-dismiss="modal" aria-hidden="true">취소</button>
							<button type="submit" disabled="disabled" class="btn waves-effect waves-light btn-primary m-1" id="leaveBtn">퇴직</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->
	
	<!-- attend 모달창 -->
	<div id="attend_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-colored-header bg-info">
					<h4 class="modal-title" id="info-header-modalLabel">전근</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="col-12">

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>교육청관리번호</label> 
									<input type="text" class="form-control" id="gov_id" name="gov_id" placeholder="00000000000" maxlength="11" th:value="${'N - ' + empDto.gov_id}" readonly>
								</div>
								<div class="col-md-6">
									<label>재직상태</label> 
									<input type="text" class="form-control" readonly th:value="${empDto.ent_status == 'Y' ? '재직' : 
										empDto.ent_status == 'N' ? '퇴직' : empDto.ent_status == 'R' ? '휴직' : 
										empDto.ent_status == 'L' ? '전근' : '-'}">
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="gov_id">이름</label> 
									<input type="text" class="form-control" id="emp_name" name="emp_name" placeholder="홍길동" th:value="${empDto.emp_name}" readonly>
								</div>
								<div class="col-md-6">
									<label for="gov_id">직원번호</label> 
									<input type="text" class="form-control" id="emp_id" name="emp_id" th:value="${empDto.emp_id}" placeholder="00000000000" maxlength="11" readonly>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>부서</label> <input type="text" class="form-control" readonly th:value="${empDto.dept_name}">
								</div>
								<div class="col-md-6">
									<label>직급</label> 
									<input type="text" class="form-co ntrol" readonly th:value="${empDto.job_name}">
								</div>
							</div>
						</div>
					</div>
					<hr>
					<form class="pl-3 pr-3" id="attendFrm">
						<input type="hidden" id="csrf_token" th:value="${_csrf.token}"> 
						<input type="hidden" id="attend_no" name="attend_no">
						<input type="hidden" name="emp_id" th:value="${empDto.emp_id}"> 
						<input type="hidden" name="status_type" value="N">
						<input type="hidden" name="admin_id" th:value="${#authentication.principal.dto.emp_id}">
						<div class="form-group">
							<label for="attend_date">근무일</label> 
							<input type="date" class="form-control" id="attend_date" name="attend_date" readonly>
						</div>
						<div class="form-group">
							<label for="check_in_time">출근시간</label> 
							<input type="time" class="form-control" id="check_in_time" maxlength="33">
							<input type="hidden" name="check_in_time" id="check_in">
							<div id="check_in_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="check_out_time">퇴근시간</label> 
							<input type="time" class="form-control" id="check_out_time" maxlength="33">
							<input type="hidden" name="check_out_time" id="check_out">
							<div id="check_in_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="work_status">출근상태</label> 
							<select class="form-control" name="work_status" id="work_status">
								<option value="0">출근전</option>
								<option value="1">출근</option>
								<option value="2">퇴근</option>
								<option value="3">결근</option>
								<option value="4">연차</option>
								<option value="5">공가</option>
								<option value="6">병가</option>
								<option value="7">조퇴</option>
								<option value="8">경조사</option>
								<option value="9">출산휴가</option>
								<option value="10">반차</option>
							</select>
							<div id="work_status_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="late_status">지각여부</label> 
							<br>
							<label><input type="radio" class="" id="late_status_n" name="late_status" value="N"> 정상</label>
							<label><input type="radio" class="" id="late_status_y" name="late_status" value="Y"> 지각</label>
							<div id="late_status_feedback" class="mt-2"></div>
						</div>
						<div class="form-group">
							<label for="overtime_sum">초과근무 합산(시간)</label> 
							<input type="number" class="form-control" id="overtime_sum" name="overtime_sum" maxlength="33">
							<div id="overtime_sum_feedback" class="mt-2"></div>
						</div>
						<div class="col-12 d-flex justify-content-end">
							<button type="button" class="btn waves-effect waves-light btn-light m-1" data-dismiss="modal" aria-hidden="true">취소</button>
							<button type="submit" disabled="disabled" class="btn waves-effect waves-light btn-primary m-1" id="attendBtn">수정</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /.modal -->

	<script>
		document.querySelectorAll('.tooltip-trigger').forEach(trigger => {
		    trigger.addEventListener('mouseover', function() {
		        const tooltip = this.nextElementSibling;
		        tooltip.style.visibility = 'visible';
		        tooltip.style.opacity = 1;
		    });
	
		    trigger.addEventListener('mouseout', function() {
		        const tooltip = this.nextElementSibling;
		        tooltip.style.visibility = 'hidden';
		        tooltip.style.opacity = 0;
		    });
		});
		
		
		$(document).ready(function () {
			// 비밀번호 초기화
			$('#resetPw').submit(function(e) {
				e.preventDefault();
				
				const csrfToken = document.getElementById("csrf_token").value;
				const payload = new FormData(document.getElementById('resetPw'));
				
				fetch('/reset-pw', {
					method: 'PUT',
					headers : {
						'X-CSRF-TOKEN': csrfToken
					},
					body: payload
				})
				.then(response => response.json())
				.then(data=>{
					if(data.res_code == '200'){
						Swal.fire({
							icon :'success',
							title:'성공',
							text : data.res_msg,
							confirmButtonText:"닫기",
							customClass: {
		                        confirmButton: 'swal-custom-button'
		                    }
						})
						
					} else{
						Swal.fire({
							icon:'error',
							title:'실패',
							text: data.res_msg,
							confirmButtonText:"닫기",
							customClass: {
		                        confirmButton: 'swal-custom-button'
		                    }
						});
					}
				});
			})
			
			$('#transFrm').submit(function(e) {
				e.preventDefault();
				
				const csrfToken = document.getElementById("csrf_token").value;
				const payload = new FormData(document.getElementById('transFrm'));
				
				fetch('/employee/transfer', {
					method: 'POST',
					headers : {
						'X-CSRF-TOKEN': csrfToken
					},
					body: payload
				})
				.then(response => response.json())
				.then(data=>{
					if(data.res_code == '200'){
						Swal.fire({
							icon :'success',
							title:'성공',
							text : data.res_msg,
							confirmButtonText:"닫기",
							customClass: {
		                        confirmButton: 'swal-custom-button'
		                    }
						})
						
					} else{
						Swal.fire({
							icon:'error',
							title:'실패',
							text: data.res_msg,
							confirmButtonText:"닫기",
							customClass: {
		                        confirmButton: 'swal-custom-button'
		                    }
						});
					}
				});
			})
		});
		
		// 수정 페이지로 이동
		$(document).ready(function () {
			$('#editEmployee').click(function() {
				location.href='/employee/list/edit/' + $('#emp_id').val();
			});
		});
		
		// 오늘 날짜로 기본 입력
		const today = new Date();
	  const year = today.getFullYear();
	  const month = (today.getMonth() + 1).toString().padStart(2, '0');
	  const day = today.getDate().toString().padStart(2, '0');
	
	  const formattedDate = `${year}-${month}-${day}`;
	  
	  document.getElementById('trans_date').value = formattedDate;
	  
	  $(document).ready(function() {
      function validateForm() {
         var isValid = true;

         if ($('#trans_date').val() === '') {
             $('#trans_date').removeClass('is-valid').addClass('is-invalid');
             $('#trans_date_feedback').text('전근일을 선택하세요').css('color', 'red');
             isValid = false;
         } else {
             $('#trans_date').removeClass('is-invalid').addClass('is-valid');
             $('#trans_date_feedback').text('');
         }

         var inputVal = $('#trans_school_id').val();
         if (inputVal === '') {
             $('#trans_school_id').removeClass('is-valid').addClass('is-invalid');
             $('#trans_school_id_feedback').text('전근 학교 코드를 입력하세요').css('color', 'red');
             isValid = false;
         } else if (!/^\d+$/.test(inputVal)) {
             $('#trans_school_id').removeClass('is-valid').addClass('is-invalid');
             $('#trans_school_id').val('');
             $('#trans_school_id_feedback').text('숫자만 입력하세요').css('color', 'red');
             isValid = false;
         } else if (inputVal.length < 7) {
             $('#trans_school_id').removeClass('is-valid').addClass('is-invalid');
             $('#trans_school_id_feedback').text('숫자 7자를 입력하세요').css('color', 'red');
             isValid = false;
         } else {
             $('#trans_school_id').removeClass('is-invalid').addClass('is-valid');
             $('#trans_school_id_feedback').text('');
         }
         
         $('#transBtn').prop('disabled', !isValid);
      }

      $('#trans_date').on('change', validateForm);
      $('#trans_school_id').on('input', validateForm);
	  });
	</script>
	<script>
		document.getElementById('stop_date').value = formattedDate;
		  
		  $(document).ready(function() {
		    function validateForm() {
		       var isValid = true;
		
		       if ($('#stop_date').val() === '') {
		           $('#stop_date').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_date_feedback').text('휴직일을 선택하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#stop_date').removeClass('is-invalid').addClass('is-valid');
		           $('#stop_date_feedback').text('');
		       }
		       
		       if ($('#excepted_date').val() === '') {
		           $('#excepted_date').removeClass('is-valid').addClass('is-invalid');
		           $('#excepted_date_feedback').text('복귀예정일을 선택하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#excepted_date').removeClass('is-invalid').addClass('is-valid');
		           $('#excepted_date_feedback').text('');
		       }
		
		       var inputVal = $('#stop_reason').val();
		       if (inputVal === '') {
		           $('#stop_reason').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_reason_feedback').text('휴직사유를 입력하세요').css('color', 'red');
		           isValid = false;
		       } else if (inputVal.length > 33) {
		           $('#stop_reason').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_reason_feedback').text('33자 이하로 입력하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#stop_reason').removeClass('is-invalid').addClass('is-valid');
		           $('#stop_reason_feedback').text('');
		       }
		       
		       $('#restBtn').prop('disabled', !isValid);
		    }
	
	    $('#stop_date').on('change', validateForm);
	    $('#excepted_date').on('change', validateForm);
	    $('#stop_reason').on('input', validateForm);
	  });
		  
	  $('#restFrm').submit(function(e) {
			e.preventDefault();
			
			const csrfToken = document.getElementById("csrf_token").value;
			const payload = new FormData(document.getElementById('restFrm'));
			
			fetch('/employee/rest', {
				method: 'POST',
				headers : {
					'X-CSRF-TOKEN': csrfToken
				},
				body: payload
			})
			.then(response => response.json())
			.then(data=>{
				if(data.res_code == '200'){
					Swal.fire({
						icon :'success',
						title:'성공',
						text : data.res_msg,
						confirmButtonText:"닫기",
						customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
					}).then(() => {
						location.href="/employee/list/" + document.getElementById('restFrm').emp_id.value;
					})
					
				} else{
					Swal.fire({
						icon:'error',
						title:'실패',
						text: data.res_msg,
						confirmButtonText:"닫기",
						customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
					});
				}
			});
		});
	</script>
	
	<script>
		document.getElementById('stop_date_L').value = formattedDate;
		  
		  $(document).ready(function() {
		    function validateForm() {
		       var isValid = true;
		
		       if ($('#stop_date_L').val() === '') {
		           $('#stop_date_L').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_date_L_feedback').text('휴직일을 선택하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#stop_date_L').removeClass('is-invalid').addClass('is-valid');
		           $('#stop_date_L_feedback').text('');
		       }
		       		
		       var inputVal = $('#stop_reason_L').val();
		       if (inputVal === '') {
		           $('#stop_reason_L').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_reason_L_feedback').text('휴직사유를 입력하세요').css('color', 'red');
		           isValid = false;
		       } else if (inputVal.length > 33) {
		           $('#stop_reason_L').removeClass('is-valid').addClass('is-invalid');
		           $('#stop_reason_L_feedback').text('33자 이하로 입력하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#stop_reason_L').removeClass('is-invalid').addClass('is-valid');
		           $('#stop_reason_L_feedback').text('');
		       }
		       
		       $('#leaveBtn').prop('disabled', !isValid);
		    }
	
	    $('#stop_date_L').on('change', validateForm);
	    $('#stop_reason_L').on('input', validateForm);
	  });
		  
	  $('#leaveFrm').submit(function(e) {
			e.preventDefault();
			
			const csrfToken = document.getElementById("csrf_token").value;
			const payload = new FormData(document.getElementById('leaveFrm'));
			
			fetch('/employee/leave', {
				method: 'POST',
				headers : {
					'X-CSRF-TOKEN': csrfToken
				},
				body: payload
			})
			.then(response => response.json())
			.then(data=>{
				if(data.res_code == '200'){
					Swal.fire({
						icon :'success',
						title:'성공',
						text : data.res_msg,
						confirmButtonText:"닫기",
						customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
					}).then(() => {
						location.href="/employee/list/" + document.getElementById('leaveFrm').emp_id.value;
					})
					
				} else{
					Swal.fire({
						icon:'error',
						title:'실패',
						text: data.res_msg,
						confirmButtonText:"닫기",
						customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
					});
				}
			});
		});
	</script>
	
	<script>
		$(document).ready(function() {
			$('.rest_history').on('click', function() {
	        var status_no = $(this).data('no');
	        var emp_id = $(this).data('emp');
	        var stop_reason = $(this).data('reason');
	        var stop_date = $(this).data('stop');
	        var excepted_date = $(this).data('excepted')
	        var return_date = $(this).data('return');
		
	        $('#status_no').val(status_no);
	        $('#stop_reason_r').val(stop_reason);
	        $('#stop_date_r').val(stop_date);
	        $('#excepted_date_r').val(excepted_date);
	        $('#return_date_r').val(return_date);
	    });
		
		document.getElementById('return_date_r').value = formattedDate;
		  
		    function validateForm() {
		       var isValid = true;
		
		       if ($('#return_date_r').val() === '') {
		           $('#return_date_r').removeClass('is-valid').addClass('is-invalid');
		           $('#return_date_r_feedback').text('복직일을 선택하세요').css('color', 'red');
		           isValid = false;
		       } else {
		           $('#return_date_r').removeClass('is-invalid').addClass('is-valid');
		           $('#return_date_r_feedback').text('');
		       }
		       
		       $('#returnBtn').prop('disabled', !isValid);
		    }
	
	    $('#return_date_r').on('change', validateForm);
		  
	  $('#returnFrm').submit(function(e) {
			e.preventDefault();
			
			const csrfToken = document.getElementById("csrf_token").value;
			const payload = new FormData(document.getElementById('returnFrm'));
			
			fetch('/employee/return', {
				method: 'POST',
				headers : {
					'X-CSRF-TOKEN': csrfToken
				},
				body: payload
			})
			.then(response => response.json())
			.then(data=>{
				if(data.res_code == '200'){
					Swal.fire({
						icon :'success',
						title:'성공',
						text : data.res_msg,
						confirmButtonText:"닫기",
						customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
					}).then(() => {
						location.href="/employee/list/" + document.getElementById('returnFrm').emp_id.value;
					})
					
				} else{
					Swal.fire({
						icon:'error',
						title:'실패',
						text: data.res_msg,
						confirmButtonText:"닫기",
						customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
					});
				}
			});
		});
		})
	</script>
	<script>
		$(document).ready(function() {
			$('.attend_history').on('click', function() {
				var attendNo = $(this).data('attendno');
				var attendDate = $(this).data('attenddate');
				
				var attendIn = new Date($(this).data('attendin'));
				const hourIn = attendIn.getHours(); 
				const minuteIn = attendIn.getMinutes(); 
				const timeIn = `${hourIn}:${minuteIn < 10 ? '0' + minuteIn : minuteIn}`;
				
				var attendOut = new Date($(this).data('attendout'));
				const hourOut = attendOut.getHours(); 
				const minuteOut = attendOut.getMinutes(); 
				var timeOut = `${hourOut}:${minuteOut < 10 ? '0' + minuteOut : minuteOut}`;
				
				var attendStatus = $(this).data('attendstatus');
				var attendLate = $(this).data('attendlate');
				var attendOver = $(this).data('attendover');
				
				$('#attend_date').val(attendDate);
				$('#check_in_time').val(timeIn);
				$('#check_in').val(`${attendDate}T${timeIn}`);
				$('#check_out_time').val(timeOut);
				$('#check_out').val(`${attendDate}T${timeOut}`);
				$('#work_status').val(attendStatus);
				$('#attend_no').val(attendNo);

				$('#overtime_sum').val(attendOver);
				
				if (attendLate === 'Y') { // 여기서 '특정값'을 실제 값으로 변경하세요
            $('#late_status_y').prop('checked', true);
        } else {
            $('#lage_status_n').prop('checked', false);
        }
			});
			
			// check_in_time 값 변경 시 check_in 업데이트
	    $('#check_in_time').on('input', function() {
	        const timeIn = $(this).val();
	        $('#check_in').val(`${$('#attend_date').val()}T${timeIn}`);
	        validateTimes(); 
	    });

	    // check_out_time 값 변경 시 check_out 업데이트
	    $('#check_out_time').on('input', function() {
	        const timeOut = $(this).val();
	        $('#check_out').val(`${$('#attend_date').val()}T${timeOut}`);
	        validateTimes(); 
	    });
	    
	    $('#attend_date, #check_in_time, #check_out_time, #work_status, input[name="late_status"], #overtime_sum').on('input change', function() {
	        checkSubmitButton(); // 상태 체크
	    });

	    function checkSubmitButton() {
	        // 모든 필드가 값이 있을 경우 submit 버튼 활성화
	        return isComplete = 
	            $('#attend_date').val() &&
	            $('#check_in_time').val() &&
	            $('#check_out_time').val() &&
	            $('#work_status').val() &&
	            $('input[name="late_status"]:checked').length > 0 && // 라디오 버튼 체크 여부
	            $('#overtime_sum').val();
	    }
	    
	    function validateTimes() {
	        const checkInValue = $('#check_in').val();
	        const checkOutValue = $('#check_out').val();
	        let isValid = true;

	        if (checkInValue && checkOutValue) {
	            const checkInTime = new Date(checkInValue);
	            const checkOutTime = new Date(checkOutValue);

	            if (checkInTime > checkOutTime) {
	                $('#check_in_feedback').text('출근시간은 퇴근시간보다 이전이어야 합니다.').css('color', 'red');
	                isValid = false; // 유효성 상태 업데이트
	            } else {
	                $('#check_in_feedback').text(''); // 피드백 초기화
	            }
	        } else {
	            $('#check_in_feedback').text(''); // 피드백 초기화
	            isValid = false; // 유효성 상태 업데이트
	        }

	        // 모든 조건을 확인하여 버튼 상태 업데이트
	        $('#attendBtn').prop('disabled', !isValid || !checkSubmitButton());
	    }
		})
	
		const form = document.getElementById('attendFrm');
		form.addEventListener('submit', (e) => {
			e.preventDefault();
			const payload = new FormData(form);
			const csrfToken = document.getElementById('csrf_token').value;
			fetch('/employee/attend', {
				method:'PUT',
				headers : {
					'X-CSRF-TOKEN': csrfToken
				},
				body:payload
			})
			.then(response => response.json())
			.then(data => {
				if(data.res_code == '200') {
					Swal.fire({
						icon :'success',
						title:'성공',
						text : data.res_msg,
						confirmButtonText:"닫기",
						customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
					}).then((result)=>{
						location.href="/employee/list/" + form.emp_id.value;
					});
				} else {
					Swal.fire({
						icon:'error',
						title:'실패',
						text: data.res_msg,
						confirmButtonText:"닫기",
						customClass: {
	                        confirmButton: 'swal-custom-button'
	                    }
					});
				}
			})
		});
		
	</script>
	</body>
</th:block>
</html>