<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{include/mypage_layout}">
<th:block layout:fragment="content">
	<style>
		th, td {
			text-align: center;
		}
		
		th {
			background-color: #e8eaec;
			font-weight: bold;
		}
		
		th[rowspan="8"] {
		    background-color: transparent; /* rowspan이 8인 th의 배경색을 투명으로 설정 */
		    font-weight: normal; /* 선택사항: 글자 두께를 일반으로 설정 */
		}
	</style>
	<div class="page-wrapper">
		<div class="container-fluid">
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body" style="padding: 50px 80px;">
							<div class="col-6 d-flex justify-content-start align-items-center" style="padding-left: 12px;">
								<div style="font-size: 30px; color:black;">내 정보</div>
							</div>

							<ul class="nav nav-tabs nav-bordered mb-3 justify-content-end" style="position:relative; top: -30px;">
								<li class="nav-item">
									<a href="#employee_info" data-toggle="tab" aria-expanded="true" class="nav-link active"> 
										<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i> 
										<span class="d-none d-lg-block">직원정보</span>
									</a>
								</li>
								<li class="nav-item" th:if="${#authentication.principal.dto.dept_code == 'D4'}">
									<a href="#class-history" data-toggle="tab" aria-expanded="false" class="nav-link"> 
										<i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i> 
										<span class="d-none d-lg-block">학급이력</span>
									</a>
								</li>
								<li class="nav-item">
									<a href="#employee-status" data-toggle="tab" aria-expanded="false" class="nav-link"> 
										<i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i> 
										<span class="d-none d-lg-block">재직이력</span>
									</a>
								</li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane show active" id="employee_info">
									<div class="form-body">
										<table class="table">
										<tbody>
											<tr>
												<th rowspan="8" style="border-top: none;">
													<img id="imagePreview" th:src="@{'/UploadImg/employee/' + ${empDto.new_pic_name}}" width="100px" style="border-radius: 50%; object-fit: cover; aspect-ratio: 1/1" onerror="this.onerror=null; this.src='/assets/images/users/user-profile.png';">
												</th>
												<th>직원성명</th>
												<th>직원번호</th>
												<th>교육청관리번호</th>
											</tr>
											<tr>
												<td th:text="${empDto.emp_name}"></td>
												<td th:text="${empDto.emp_id}"></td>
												<td th:text="${'N - ' + empDto.gov_id}"></td>
											</tr>
											<tr>
												<th>주민등록번호</th>
												<th>부서</th>
												<th>직급</th>
											</tr>
											<tr>
												<td th:text="${#strings.substring(empDto.emp_rrn, 0, 8) + '******'}"></td>
												<td th:text="${empDto.dept_name}"></td>
												<td th:text="${empDto.job_name}"></td>
											</tr>
											<tr>
												<th>비밀번호</th>
												<th>내선전화번호</th>
												<th>전화번호</th>
											</tr>
											<tr>
												<td>****</td>
												<td th:text="${empDto.emp_internal_phone}"></td>
												<td th:text="${empDto.emp_phone}"></td>
											</tr>
											<tr>
												<th>우편번호</th>
												<th>집주소</th>
												<th>입사일</th>
											</tr>
											<tr>
												<td th:text="${empDto.emp_post_code}"></td>
												<td th:text="${empDto.emp_addr + ' ' + empDto.emp_detail_addr}"></td>
												<td th:text="${empDto.hire_date}"></td>
											</tr>
										</tbody>
									</table>
									</div>
								</div>

								<div class="tab-pane" id="class-history">
									<div class="form-group">
										<div class="row">
											<div class="col-md-12" style="margin-top: 10px;">
												<div class="table-responsive">
													<table id="employee_teacher_history_list" class="table table-bordered no-wrap" style="width: 100%">
														<colgroup>
															<col style="width: 10%;">
															<col style="width: 30%;">
															<col style="width: 30%;">
															<col style="width: 30%;">
														</colgroup>
														<thead>
															<tr>
																<th scope="col">번호</th>
																<th scope="col">학년도</th>
																<th scope="col">학년</th>
																<th scope="col">반</th>
															</tr>
														</thead>
														<tbody>
															<th:block th:if="${#lists.isEmpty(thDtoList)}">
																<tr>
																	<td colspan="4">학급이력이 없습니다.</td>
																</tr>
															</th:block>
															<th:block th:if="${!#lists.isEmpty(thDtoList)}">
																<tr th:each="history, historyStat : ${thDtoList}">
																	<td scope="row" th:text="${historyStat.count}"></td>
																	<td th:text="${history.t_year}"></td>
																	<td th:text="${history.grade}"></td>
																	<td th:text="${history.grade_class}"></td>
																</tr>
															</th:block>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="employee-status">
									<div class="form-group">
										<div class="row">
											<div class="col-md-12" style="margin-top: 10px;">
												<label style="font-size: 20px;">전근</label>
												<div class="table-responsive">
													<table id="employee_transfer_history_list" class="table table-bordered no-wrap" style="width: 100%">
														<colgroup>
															<col style="width: 10%;">
															<col style="width: 30%;">
															<col style="width: 30%;">
															<col style="width: 30%;">
														</colgroup>
														<thead>
															<tr>
																<th scope="col">번호</th>
																<th scope="col">전근학교번호</th>
																<th scope="col">전근일</th>
																<th scope="col">전근유형</th>
															</tr>
														</thead>
														<tbody>
															<th:block th:if="${#lists.isEmpty(tDtoList)}">
																<tr>
																	<td colspan="4">전근이력이 없습니다.</td>
																</tr>
															</th:block>
															<th:block th:if="${!#lists.isEmpty(tDtoList)}">
																<tr th:each="history, historyStat : ${tDtoList}">
																	<td scope="row" th:text="${historyStat.count}"></td>
																	<td th:text="${history.trans_school_id}"></td>
																	<td th:text="${history.trans_date}"></td>
																	<td th:text="${history.trans_type == 'T' ? '전출' : history.trans_type == 'F' ? '전입' : '-'}"></td>
																</tr>
															</th:block>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12" style="margin-top: 10px;">
												<label style="font-size: 20px;">휴직</label>
												<div class="table-responsive">
													<table id="employee_rest_history_list" class="table table-bordered no-wrap" style="width: 100%">
														<colgroup>
															<col style="width: 10%;">
															<col style="width: 20%;">
															<col style="width: 20%;">
															<col style="width: 20%;">
															<col style="width: 30%;">
														</colgroup>
														<thead>
															<tr>
																<th scope="col">번호</th>
																<th scope="col">휴직일</th>
																<th scope="col">복귀예정일</th>
																<th scope="col">복귀일</th>
																<th scope="col">휴직사유</th>
															</tr>
														</thead>
														<tbody>
															<th:block th:if="${#lists.isEmpty(restDtoList)}">
																<tr>
																	<td colspan="5">휴직이력이 없습니다.</td>
																</tr>
															</th:block>
															<th:block th:if="${!#lists.isEmpty(restDtoList)}">
																<tr th:each="history, historyStat : ${restDtoList}">
																	<td scope="row" th:text="${historyStat.count}"></td>
																	<td th:text="${history.stop_date}"></td>
																	<td th:text="${history.excepted_date}"></td>
																	<td th:text="${history.return_date == null ? '-' : history.return_date}"></td>
																	<td th:text="${history.stop_reason}"></td>
																</tr>
															</th:block>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<footer class="footer text-center text-muted"> All Rights Reserved by Adminmart. Designed by DBDevDeep and Developed by WrapPixel.</footer>
	</div>
	<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
	<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- apps -->
	<!-- apps -->
	<script src="/dist/js/app-style-switcher.js"></script>
	<script src="/dist/js/feather.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/assets/extra-libs/sparkline/sparkline.js"></script>
	<!--Wave Effects -->
	<!-- themejs -->
	<!--Menu sidebar -->
	<script src="/dist/js/sidebarmenu.js"></script>
	<!--Custom JavaScript -->
	<script src="/dist/js/custom.min.js"></script>
</th:block>
</html>